
/*文本识别\n和多个空格并且正常换行*/
.shText_pre_wrap{
    white-space: pre-wrap;
}

/*强制在一行显示数据，溢出的元素显示点点点*/
.shText_title{
    display: block; /* 当前元素本身是inline的，因此需要设置成block模式 */
    white-space: nowrap; /* 因为设置了block，所以需要设置nowrap来确保不换行 */
    overflow: hidden; /* 超出隐藏结合width使用截取采用效果*/
    text-overflow: ellipsis; /* 本功能的主要功臣，超出部分的剪裁方式 */
    -o-text-overflow: ellipsis; /* 特定浏览器前缀 */
}

/*a标签 连接*/
.sh_a{
    text-decoration: none;
    color: #9effff;
    }

/*备引用评论的右引号*/
.quote_right{
    font-size: 50px;
    line-height: 0;
    position: relative;
    top: 25px;
    left: 15px;
}


/*字体颜色*/
.font_color_aliceBlue {
    color: aliceblue !important;
}

/*透明度*/
.rgba {
    background: rgba(255, 252, 251, 0.82) !important;
}

/*外间距*/
.margin_top {
    margin-top: 20px !important;
}


.margin_right_10px {
    margin-right: 10px !important;
}


.margin_top_15px {
    margin-top: 15px !important;
}

.margin_bottom {
    margin-bottom: 20px !important;
}

.margin_bottom_5px {
    margin-bottom: 5px !important;
}

.margin_bottom_15px {
    margin-bottom: 15px !important;
}

.margin_around_5px {
    margin: 5px !important;
}


/*内补*/
.padding_around {
    padding: 10px !important;
}

.padding_bottom {
    padding-bottom: 15px !important;
}

.padding_around_0px {
    padding: 0 0 0 0 !important;
}

/*左浮动*/
.float_left {
    float: left !important;
}

/*右浮动*/
.float_right {
    float: right !important;
}

/*头像尺寸*/
.avatar_image-sm {
    width: 50px !important;
}

.avatar_image-df {
    width: 75px !important;
}

.avatar_image-lg {
    width: 120px !important;
}

/*帖子详情界面的头像div半透明背景色*/
.my_Bgcolor {
    background-color: #c2fcfd9e !important;
}

/*帖子详情页的h1标题*/
.invitationDetail_title {
    margin-top: 10px;
    margin-bottom: 5px;
}

/*帖子详情页的头像外边距*/
.invitationDetail_avatar_margin {
    margin-right: 40px !important;
    margin-bottom: 10px !important;
}

/*帖子详情页的用户签名*/
.user_quote {
    margin-right: 20px !important;
    margin-bottom: 10px !important;
    width: 60%;
    min-width: 260px;
    background-color: #ebebbecc;
}

/* 帖子详情 */
.invitation_paper {
    /*height: 600px;*/
    /*background-color: white;*/
    padding: 10px;
    min-width: 350px;
}

/*帖子内容*/
.invitationDetail_content {
    /*height: 400px;*/
    min-width: 350px;
    background-color: floralwhite;
    margin-top: 95px !important;
    margin: 37px;
}

/*帖子内容的md显示器*/
.sh_MdViewer {
    background-color: rgba(255, 255, 255, 0.41) !important;
}

/*历史评论以及回复*/
.invitationDetail_comment {
    /*上右下左*/
    margin: 0 40px 5px 40px;
    background-color: #ffdeade3;
    padding: 10px 10px 0 20px;

}

.invitationDetail_comment_right {
    /*上右下左*/
    margin: 0 40px 5px 40px;
    background-color: #56b5ace3;
    padding: 10px 10px 0 20px;

}

/*帖子 发送评论的输入栏*/
.invitationDetail_commentor {
    margin: 80px 40px 0 40px
}

/*页脚*/
.myfooter {
    /*background-color: #e6e3e6;*/
    height: 25px;
    width: auto;
    padding: 5px;
    text-align: center;
    position: relative;
    background: rgba(255, 252, 251, 0.82);
}

/*版块详情页巨幕*/
.jumbotron {
    /* background-color: #eee; */
    background-color: #612222 !important;
}

.alert-warning {
    /* background-image: linear-gradient(to bottom,#fcf8e3 0,#f8efc0 100%); */
    background-image: linear-gradient(to bottom, #e5f0f1 0, #dcdbe3 100%) !important;
}

.close {
    /* font-size: 21px; */
    /* text-shadow: 0 1px 0 #fff; */
    font-size: 17px !important;
}

/*导航条*/
.navbar {
    padding-left: 70px !important;
    padding-right: 70px !important;
    margin-bottom: 3px !important;
    /*background-color: #ffffffc7 !important;*/
    background-color: hsla(0, 0%, 100%, .5) !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2) !important;
}


/*导航条上的用户头像*/
.nav_avatar {
    width: 50px !important;
    height: 50px !important;
    margin-top: -15px !important;

}

.navbar-brand {
    /*padding: 1px !important;*/
}

/*导航条消息提醒*/
.nav_message {
    position: absolute !important;
    top: 5px !important;
    left: 26px !important;
    font-size: 10px !important;
    background-color: #007cff87 !important;
}

/*导航条element搜索框*/
#vue_Nav_Search {
    height: 36px !important;
    margin-top: 2px !important;
}

.Nav_Search_input_icon {
    text-decoration: none !important;
}


/*版块详情页页头*/

.page-header {
    margin: 40px !important;
    margin-bottom: 10px !important;
}

/*版块详情页位置导航*/

.breadcrumb {
    height: 60px !important;
}


/*版块详情页帖子左边的图片*/
/*.media-object {*/
/*    width: 50px !important;*/
/*}*/

/* bootstrap.min.css | http://localhost:8888/css/bootstrap.min.css */
/*栅格*/
/*版块详情页栅格 帖子列表背景色和margin*/
.row {
    margin: 30px !important;
    margin-top: 1px !important;
}

/*栅栏左*/
.row_left {
    margin-left: -20px !important;
    padding-bottom: 20px !important;
}

/*栅栏右*/
.row_right {
    padding-left: 60px !important;
    padding-right: 5px !important;
    margin-left: 20px !important;
}

/*版块详情页帖子媒体对象*/
.media_left {
    background-color: mistyrose !important;
    padding: 20px !important;
    padding-left: 25px !important;
    margin: 10px !important;
    margin-left: 0 !important;
    height: 80px;
}


/*版块详情页分页按钮*/
.pagebtn {
    float: right;
}

.pagebtn_disabled {
    background: #50a2ee !important;
}

/*分页信息*/
.myPageInfo {
    float: left;
    width: 200px;
}


/* bootstrap.min.css | http://localhost:8888/css/bootstrap.min.css */
/*编辑页面标题输入框*/
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    /* height: 46px; */
    /* font-size: 18px; */
    height: 60px !important;
    font-size: 28px !important;
}

.input-group-addon {
    /* background-color: #eee; */
    /* border: 1px solid #ccc; */
    background-color: #2CE6E6 !important;
    border: 0px solid #ccc !important;
}

.input-group .form-control {
    /* width: 100%; */
    width: 60% !important;
}


/*所有界面body的颜色*/
.shbody {
    /* background-color: #fff; */
    /*background-color: #d2eced !important;*/
    /*全部body的背景图片*/
    /*background-image:url("https://file.moetu.org/images/2019/09/19/mikud2f6bf789dc779f2.png") ;*/
    background-image: url("/image/miku.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    background-attachment: fixed;
    min-width: 675px;

}

/*我的包装，用于给element的backtop按钮提供返回的对象和环境*/
.mywraper {
    /*vh就是当前屏幕可见高度的1%*/
    height: 100vh !important;
    /*border: 4px solid red;*/
    min-height: 500px !important;
    overflow: hidden !important;
    overflow-x: auto !important;
    overflow-y: scroll !important;
}

.mybody {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

/*编辑页面流式布局*/
div.container-fluid:nth-child(11) {
    background-color: #dee2e3a3 !important;
    margin: 30px !important;
}

/* 元素 | http://localhost:8888/newInvitation */

/*.row {*/
/*    height: 500px !important;*/
/*}*/

/*编辑界面，md文本编辑器*/
.sh_MdEditor {
    height: 500px !important;
    min-height: 300px !important;
}


/*编辑界面按钮*/


/*注册界面表单div*/
.mySignUpForm {
    height: 300px;
    width: 600px;
    margin: auto;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 252, 251, 0.82);
}

/*主页el-header*/
.index_el-header {
    /* padding: 0 20px; */
    padding: 0 0 !important;
}
