
/*字体颜色*/
.font_color_aliceBlue{
    color: aliceblue;
}

/*透明度*/
.rgba{
    background: rgba(255, 252, 251, 0.82) !important;
}

/*外间距*/
.margin_top{
    margin-top: 20px !important;
}
.margin_bottom{
    margin-bottom: 20px !important;
}

/*左浮动*/
.float_left{
    float: left;
}
/*右浮动*/
.float_right{
    float: right;
}

/*页脚*/
.myfooter{
    /*background-color: #e6e3e6;*/
    height: 25px;
    width: auto;
    padding: 5px;
    text-align: center;
    position: relative;
    background: rgba(255, 252, 251, 0.82);
}

/*首页巨幕*/
.jumbotron {
    /* background-color: #eee; */
    background-color: #612222 !important;
}

.alert-warning {
    /* background-image: linear-gradient(to bottom,#fcf8e3 0,#f8efc0 100%); */
    background-image: linear-gradient(to bottom,#e5f0f1 0,#dcdbe3 100%) !important;
}

.close {
    /* font-size: 21px; */
    /* text-shadow: 0 1px 0 #fff; */
    font-size: 17px !important;
}

/*首页页头*/

.page-header {
    margin: 40px !important;
    margin-bottom: 10px !important;
}

/*首页位置导航*/

.breadcrumb {
    height: 60px !important;
}


/*首页帖子左边的图片*/

.media-object {
    width: 50px !important;
}

/* bootstrap.min.css | http://localhost:8888/css/bootstrap.min.css */
/*栅格*/
/*首页栅格左 帖子列表背景色和margin*/
.row{
    margin: 30px !important;
    margin-top: 1px !important ;
}


.media_left{
    background-color: mistyrose !important;
    padding: 20px !important;
    padding-left: 25px !important;
    margin: 10px !important;
    margin-left: 0 !important;
    height: 80px;
}

.row_left{
    margin-left: -20px !important;
    padding-bottom: 20px !important;
}

.row_right{
    padding-left: 60px !important;
    padding-right: 5px !important;
    margin-left: 20px !important;
}

/*首页分页按钮*/
.pagebtn{
    float: right;
}

.pagebtn_disabled{
    background: #50a2ee !important;
}
/*分页信息*/
.myPageInfo{
    float: left;
    width: 200px;
}




/* bootstrap.min.css | http://localhost:8888/css/bootstrap.min.css */
/*编辑页面标题输入框*/
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    /* height: 46px; */
    /* font-size: 18px; */
    height: 60px !important;
    font-size: 28px !important;
}

.input-group-addon {
    /* background-color: #eee; */
    /* border: 1px solid #ccc; */
    background-color: #2CE6E6 !important;
    border: 0px solid #ccc !important;
}

.input-group .form-control {
    /* width: 100%; */
    width: 60% !important;
}


/*所有界面body的颜色*/
body {
    /* background-color: #fff; */
    /*background-color: #d2eced !important;*/
    background-image:url("https://file.moetu.org/images/2019/09/19/mikud2f6bf789dc779f2.png") ;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center 0;
    background-attachment:fixed;
}

.mybody{
    padding-left: 50px !important;
    padding-right: 50px !important;
}

/*编辑页面流式布局*/
div.container-fluid:nth-child(11) {
    background-color: #dee2e3a3 !important;
    margin: 30px !important;
}

/* 元素 | http://localhost:8888/newInvitation */

.row {
    height: 500px !important;
}

/*编辑界面按钮*/


button.btn:nth-child(7) {
    float: right !important;
}


/*注册界面表单div*/
.mySignUpForm{
    height: 300px;
    width: 600px;
    margin: auto;
    padding: 50px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(255, 252, 251, 0.82);
}