<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--走马灯广告中型-->
<div id="vue_banner_md" th:fragment="banner_md" v-cloak>
    <el-carousel height="252px" direction="vertical" indicator-position="" :autoplay="true" :interval=interval>
        <el-carousel-item v-for="(banner,index) in banners" :key="index">
            <el-image
                    style="width: 100%; height: 100%"
                    :src="banner.bannerUrl"
                    fit="cover" @click="clickBanner"></el-image>
        </el-carousel-item>
    </el-carousel>
</div>
<script>
    const vue_banner_md = new Vue({
        el: '#vue_banner_md',
        data:{
            banners:[],
            //切换间隔、毫秒
            interval:5000
        },
        created:function () {
            axios.get('/shApi/getBannersByShape/md').then(res=>{
                console.log("获取的res md");
                console.log(res);
                this.banners=res.data.data.banners;
                console.log("获取的banners md");
                console.log(this.banners);
            })
        },
        methods:{
            clickBanner:function () {
                console.log("clickBanner_md")
            }
        }
    })
</script>
<style>
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 200px;
        margin: 0;
    }
    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }
</style>
</html>