<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--走马灯广告大型长条-->
<div class="block" id="vue_banner_lg" th:fragment="banner_lg">
    <el-carousel height="200px"  :interval=interval>
        <el-carousel-item v-for="(banner,index) in banners" :key="index">
            <el-image
                    style="width: 100%; height: 100%"
                    :src="banner.bannerUrl"
                    fit="cover" @click="clickBanner"></el-image>
        </el-carousel-item>
    </el-carousel>
</div>
<style>
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 150px;
        margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }
</style>
<script>
    const vue_banner_lg = new Vue({
        el: '#vue_banner_lg',
        data:{
            banners:[],
            //切换间隔、毫秒
            interval:8000
        },
        created:function () {
            axios.get('/shApi/getBannersByShape/lg').then(res=>{
                console.log("获取的res lg");
                console.log(res);
                this.banners=res.data.data.banners;
                console.log("获取的banners lg");
                console.log(this.banners);
            })
        },
        methods:{
            clickBanner:function () {
                console.log("clickBanner_lg")
            }
        }

    })
</script>
</html>