<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--走马灯广告大型长条-->
<div class="block" id="vue_banner_lg" th:fragment="banner_lg">
    <el-carousel height="150px">
        <el-carousel-item v-for="item in 4" :key="item">
            <h3 class="small">{{ item }} 首页条幅、大广告位</h3>
        </el-carousel-item>
    </el-carousel>
</div>
<style>
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 150px;
        margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }
</style>
<script>
    const vue_banner_lg = new Vue({
        el: '#vue_banner_lg'
    })
</script>
</html>