<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="vue_el_breadcrumb" th:fragment="el_breadcrumb" class="img-rounded ">
    <!--    分割线-->
    <el-divider></el-divider>
    <el-breadcrumb separator=">">
        <el-breadcrumb-item><span class="el-icon-location-information"></span></el-breadcrumb-item>

        <el-breadcrumb-item v-for="page in breadcrumb"><a :href="page.path">{{page.title}}</a></el-breadcrumb-item>

    </el-breadcrumb>
    <!--    分割线-->
    <el-divider></el-divider>
</div>
<script>
    const vue_el_breadcrumb = new Vue({
        el: "#vue_el_breadcrumb",
        data: {
            //面包屑数组
            breadcrumb: [],
            //存储当前页信息的对象
            curPage:{
                title:'',
                path:''
            }
        },
        created:function () {
            //获取当前页信息，并保存
            this.curPage.title=document.title;
            this.curPage.path=window.location.pathname;

            axios.post('/shApi/breadcrumbHelper',this.curPage).then(res=>{
                console.log("面包屑数组");
                console.log(res.data.data.breadcrumb);
                this.breadcrumb=res.data.data.breadcrumb;
            })
        }

    })
</script>
<style>

    /* 元素 | http://localhost:8888/ */

    #vue_el_breadcrumb {
        background-color: aliceblue;
        padding-left: 20px;
    }

</style>
</html>