<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="vue_el_breadcrumb" th:fragment="el_breadcrumb" class="img-rounded ">
    <!--    分割线-->
    <el-divider></el-divider>
    <el-breadcrumb separator=">">
        <el-breadcrumb-item :to="{ path: '/' }"><span class="el-icon-location-information"></span></el-breadcrumb-item>

        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item><a href="/">活动管理</a></el-breadcrumb-item>
        <el-breadcrumb-item>活动列表</el-breadcrumb-item>
        <el-breadcrumb-item>活动详情</el-breadcrumb-item>
    </el-breadcrumb>
    <!--    分割线-->
    <el-divider></el-divider>
</div>
<script>
    const vue_el_breadcrumb = new Vue({
        el: "#vue_el_breadcrumb",
    })
</script>
<style>

    /* 元素 | http://localhost:8888/ */

    #vue_el_breadcrumb {
        background-color: aliceblue;
        padding-left: 20px;
    }

</style>
</html>