<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

<div id="vue_el_tab" th:fragment="el_tab" class="img-rounded">
    <el-tabs v-model="activeName" @tab-click="clickTab" type="border-card">

        <el-tab-pane label="聊天室" name="first">
            <el-row style="height: 400px">
                <el-col :span="24">
                    <el-table
                            :data="historyMessages"
                            style="width: 100%"
                            max-height="500"
                            id="messageTable"
                    >
                        <el-table-column
                                label="消息记录 (近期30条)"
                                min-width="280"
                                show-overflow-tooltip>

                            <div slot-scope="scope">
                                <el-row id="message_header">
                                    <span v-if="scope.row.sender!=null"
                                          style="font-style: italic;color: #a185f7">{{scope.row.sender.nickName}}</span>
                                    <span v-else-if="scope.row.sender==null" style="font-style: italic;color: #a185f7">游客{{scope.row.senderId}}</span>
                                    <span class="float_right">{{fomateDate(scope.row.gmtCreated)}}</span>
                                </el-row>

                                <el-row id="message_content">
                                    <el-col :span="4">
                                        <el-avatar v-if="scope.row.sender!=null" :src="scope.row.sender.avatarImage"></el-avatar>
                                        <el-avatar v-else-if="scope.row.sender==null" icon="el-icon-user-solid"></el-avatar>
                                    </el-col>

                                    <el-col :span="20">
                                        <div style="display: block;">{{scope.row.chatMessageContent}}</div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-table-column>
                    </el-table>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <el-input
                            placeholder="请输入要发送的消息..."
                            v-model="unsendChatMessage"
                            clearable>
                    </el-input>
                    <p></p>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="24">
                    <el-tooltip content="发送" placement="bottom" effect="light">
                        <el-button icon="el-icon-s-promotion" @click="sendMessage" circle></el-button>
                    </el-tooltip>

                    <el-tooltip content="登出" placement="bottom" effect="light">
                        <el-button id="unSubBtn" icon="el-icon-close" type="danger" class="float_right"
                                   @click="unsubscribeChat"
                                   circle></el-button>
                    </el-tooltip>
                    <el-tooltip content="登入" placement="bottom" effect="light">
                        <el-button id="subBtn" icon="el-icon-user-solid" type="success" class="float_right"
                                   @click="subscribeChatRoom"
                                   circle></el-button>
                    </el-tooltip>
                </el-col>
            </el-row>
        </el-tab-pane>

        <el-tab-pane label="社区规范" name="second">社区规范</el-tab-pane>
        <el-tab-pane label="用户反馈" name="third">联系我</el-tab-pane>
        <el-tab-pane label="更多..." name="fourth">更多功能开发中...</el-tab-pane>
    </el-tabs>
</div>
<style>
    #vue_el_tab {
        background-color: #fff;
        padding: 20px 20px 20px 20px;
        width: 400px;
    }
</style>
<script>
    const vue_el_tab = new Vue({
        el: "#vue_el_tab",
        data() {
            return {
                activeName: 'first',
                //聊天室正在输入的消息
                unsendChatMessage: '',
                //聊天室历史消息
                historyMessages: [],
                //聊天室订阅的对象 为空时为不订阅状态
                chatSubscribe: null,
                //游客id
                touristID: '',
                //聊天室每个消息单元格的高度
                cellHeight: 94,
                //标识是否让滚动条 自动跟进新消息
                letScollAtFoot: true,
                //标识socket是否连接
                isConnected:false
            };
        },
        computed: {
            //游客用户名
            touristName: function () {
                return '游客' + this.touristID
            }
        },
        methods: {
            //切换tab时触发
            clickTab(tab, event) {
                console.log("点击tab");
                console.log(tab.index);
            },
            //加载聊天室历史数据
            loadChatHistoryDta() {
                axios.get('/shApi/listChatRoomMessages').then(res => {
                    this.historyMessages = res.data.data.historyMessages;
                    console.log(this.historyMessages);
                })
            },
            //订阅频道
            subscribeChatRoom: function () {
                //已订阅聊天室则不再订阅
                if (this.chatSubscribe != null) {
                    return;
                }
                //订阅 /room/chat 频道，每次订阅频道广播数据时都会执行回调方法
                this.chatSubscribe = stompClient.subscribe('/room/chat', retData => {
                    // console.log("频道: /room/chat，响应数据为：");
                    // console.log(retData);
                    //存储订阅频道发过来的数据
                    let chatMessage = JSON.parse(retData.body);
                    //把消息发送时间补上
                    chatMessage.gmtCreated = new Date().getTime();
                    //加入历史消息数组
                    this.historyMessages.push(chatMessage);
                    console.log("你订阅的频道更新啦！！！！！~", chatMessage);
                }, {id: this.touristID});
                console.log("订阅频道，接收到的对象：");
                console.log(this.chatSubscribe);

                //订阅，加载聊天室历史数据
                this.loadChatHistoryDta();

                //提示
                this.$notify.success({
                    title: '√',
                    message: '已订阅聊天室'
                });
            },
            //取消订阅聊天室频道
            unsubscribeChat: function () {
                if (this.chatSubscribe == null) {
                    this.$notify.info({
                        title: '消息',
                        message: '已经退出聊天室了'
                    });
                    return;
                }
                this.chatSubscribe.unsubscribe();
                console.log("取消订阅");
                //把聊天室订阅对象置为null
                this.chatSubscribe = null;
                this.$notify.info({
                    title: '消息',
                    message: '已退出聊天室'
                });

            },
            //发送消息
            sendMessage: function () {
                //在已订阅时，才发送和清空输入框
                if (this.chatSubscribe != null && this.unsendChatMessage.trim().length !== 0) {
                    stompClient.send("/app/sendToRoom", {
                        'Authorization': 'shJWt',
                        'channel': '/room/chat',
                        'touristId': this.touristID
                    }, JSON.stringify({
                        chatMessageContent: this.unsendChatMessage,
                        senderId: Number(this.touristID)
                    }));
                    //清空输入框
                    this.unsendChatMessage = '';
                }
            },
            //连接socket
            connect: function () {
                //获取游客id
                this.getTouristID();
                //建立socket连接
                let socket = new SockJS('/websocket');
                stompClient = Stomp.over(socket);
                //连接socket 自定义header Authorization
                stompClient.connect({
                    'Authorization': 'shJWt',
                    'channel': '/room/chat',
                    'touristId': this.touristID,
                }, function (frame) {
                    console.log("连接socket: /websocket");
                    console.log(frame);
                    vue_el_tab.isConnected = true
                },(err) => {
                    console.log("socket连接失败",err);
                    vue_el_tab.isConnected = false;
                });
            },
            //断开socket连接
            disconnect: function () {
                console.log(this.isConnected);
                if (stompClient !== null && vue_el_tab.isConnected === true) {
                    stompClient.disconnect(() => {
                        console.log("断开socket连接");
                    });
                    this.$notify.success({
                        title: '√',
                        message: '已断开连接'
                    });
                }
            },
            //随机生成一个游客id，从后台获取数据
            getTouristID() {
                let timestamp = new Date().getTime();
                let random = Math.floor(Math.random() * 10) + Math.floor(Math.random() * 100) + Math.floor(Math.random() * 1000);
                this.touristID = timestamp + '' + random;
                console.log('游客id', this.touristID);
            },
            //日期格式化
            fomateDate: function (dateStr) {
                var date = Number(dateStr);
                date = new Date(date).toLocaleString();
                return date.split(" ")[1];
            },
            //判断滚动条是否在底部 没用到
            scrollAtFoot: function () {
                let elTable = $(`#messageTable .el-table__body-wrapper`)[0];
                let clientHeight = elTable.clientHeight;
                let scrollHeight = elTable.scrollHeight;
                let scrollTop = $('#messageTable .el-table__body-wrapper').scrollTop();
                console.log("clientHeight的值为：" + clientHeight + "；scrollHeight为" + scrollHeight + "；scrollTop为" + scrollTop);
                //当滚动条在底部时
                if (scrollHeight - scrollTop === clientHeight) {
                    return true
                }
            },
            //移动滚动条到底部
            moveScroll: function () {
                //注意，需要在数据更新完成，并且页面渲染完成后才做这件事
                $('#messageTable .el-table__body-wrapper').scrollTop((this.historyMessages.length) * this.cellHeight);
            }
        },
        //vue创建后
        created: function () {
            //连接socket
            this.connect();
        },
        watch: {
            isConnected: {
                handler(newName, oldName) {
                   if (newName){
                       //订阅聊天室
                       this.subscribeChatRoom();
                   }
                }
            },
            historyMessages:{
                handler(newName, oldName) {
                    this.$nextTick(() => {
                        //如果订阅了频道，并且打开了滚动条跟进
                        if (this.chatSubscribe != null && this.letScollAtFoot === true) {
                            // 把滚条移动到最底部
                            this.moveScroll();
                        }
                    });

                }
            }
        }
    })
</script>
</html>