<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/css/myCss.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
<!--    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css">

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!--    <script src="/js/myJs/jquery.js"></script>-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/myJs/vue.js"></script>
    <script src="/js/myJs/element.js"></script>
    <!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<!--    <script src="/js/myJs/axios.js"></script>-->
    <script  src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
</head>
<body class="shbody">
<!--引用导航条-->
<div th:replace="nav"></div>

<!--引用条幅、大广告位-->
<div th:replace="banner_lg"></div>

<div class="container-fluid mybody">

    <div class="row">
        <!--面包屑导航-->
        <div class="col-md-12">
            <div th:replace="el_breadcrumb"></div>
        </div>

        <!--中型广告-->
        <div class="col-md-6 ">
            <div th:replace="banner_md"></div>
        </div>
        <!--排行榜/公告 -->
        <div class="col-md-6 " style="height: 252px">
            <div th:replace="el_card"></div>
        </div>
    </div>
    <div class="row">
        <!--el导航条        -->
        <div class="col-md-12 margin_bottom_15px">
            <div th:replace="el_nav"></div>
        </div>

        <!--el版块列表        -->
        <div class="col-md-12 ">
            <div th:replace="el_collapse"></div>
        </div>
    </div>
    <div class="row">
        <!-- 管理版块-->
        <div class="col-md-8">
            <div th:replace="el_sh_collapse"></div>
        </div>
        <!-- 其他 tab-->
        <div class="col-md-4">
            <div class="shbox_shadow2" style="background-color: #e0e5e6;height: 142px;">
                <div style="margin: 0 auto;position: absolute;left: 180px;top: 60px;">其他模块...</div>
            </div>
        </div>
    </div>

</div>
</body>
</html>