<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>帖子详情页</title>
    <link rel="stylesheet" href="/css/myCss.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">
    <!--    <link rel="stylesheet" href="/css/element.css">-->
    <link rel="stylesheet" href="/editormd/css/editormd.min.css"/>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/js/myJs/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/myJs/vue.js"></script>
    <!--    <script src="/js/myJs/axios.js"></script>-->
    <!--Vue要在element的前面    -->
    <script src="/js/myJs/element.js"></script>
    <!--    <script src="/js/myJs/sh.js"></script>-->
    <script src="/editormd/editormd.js"></script>
    <script src="/editormd/lib/marked.min.js"></script>
    <script src="/editormd/lib/prettify.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>
<body class="shbody">
<div class="mywraper">
    <!--暂无-->
    <!--导航条-->
    <div th:replace="nav"></div>
    <!--内容-->
    <div class="mybody ">
        <!--用来返回顶部的按钮-->
        <el-backtop :bottom="20" target=" .mywraper" id="vue_BackTopBtn">
            <el-tooltip class="item" effect="light" content="返回顶部" placement="top">
                <div class="img-rounded"
                     style="{
                        height: 80%;
                        width: 80%;
                        background-color: rgb(252, 252, 252);
                        box-shadow: 0 0 6px rgba(0,0,0, .12);
                        text-align: center;
                        line-height: 30px;
                        color: #1989fa;
                    }"
                >
                    <span class="el-icon-arrow-up "></span>

                </div>
            </el-tooltip>
        </el-backtop>
        <!--再发送评论的vue之前实例化        -->
        <script>
            const vue_BackTopBtn = new Vue({
                el: '#vue_BackTopBtn'
            });
        </script>


        <div class="container-fluid contentbody">
            <div class="row">
                <!--栅格左-->
                <div class="col-xs-12  col-sm-8  row_left ">
                    <!--面包屑导航-->
                    <div class="row">
                        <div class="col-md-12">
                            <div th:replace="el_breadcrumb"></div>
                        </div>
                    </div>

                    <!-- 帖子面版 vue托管-->
                    <div class="invitation_paper" id="vue_invitationDetail_paper">
                        <!--用页头做为标题-->
                        <div class="page-header well well-sm ">
                            <h1 class="invitationDetail_title"><span class=" glyphicon glyphicon-bookmark "></span>
                                <small>{{invitationDetail.title}}</small>
                            </h1>

                        </div>
                        <!--头像-->
                        <div class="thumbnail avatar_image-df float_right my_Bgcolor invitationDetail_avatar_margin">
                            <img class=" img-circle" :src="invitationDetail.avatarImage" alt="image">
                        </div>
                        <blockquote class="float_right blockquote-reverse user_quote img-rounded">
                            <p>{{invitationDetail.description}}</p>
                            <footer>SH社区@ <cite title="Source Title"><span>{{invitationDetail.nickName}}</span></cite>
                            </footer>
                        </blockquote>
                        <!--内容-->
                        <div class="invitationDetail_content well">
                            <span class="glyphicon glyphicon-tag"></span>
                            <!--                                                <p class="lead">&nbsp;&nbsp;<span text="${invitationDetail.content}"></span></p>-->
                            <!--md查看器                        -->
                            <div id="md_viewer" class="sh_MdViewer">
                                <textarea style="display:none;"></textarea>
                            </div>
                        </div>

                        <!-- 历史回复-->
                        <!--遍历                    -->
                        <div class="" v-for="(comment,index) in comments" :key="index">
                            <!-- 左媒体    id是2的整数倍                   -->
                            <div class="media invitationDetail_comment  img-rounded" v-if="comment.commentId%2==0">
                                <div class="" style="padding: 5px 5px 5px 5px;">
                                    <span>{{toformatDate(invitationDetail.gmtCreated)}}</span>
                                </div>
                                <div class="media-left ">
                                    <a href="#">
                                        <img class="media-object thumbnail avatar_image-sm  my_Bgcolor"
                                             :src="comment.userDTO.avatarImage"
                                             alt="头像">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <em><strong><span> {{comment.userDTO.nickName}}</span></strong></em></h4>
                                    <p class="text-left"><span>{{comment.commentContent}}</span></p>
                                </div>
                            </div>
                            <!--                             右媒体       不是2的整数倍                -->
                            <div class="media invitationDetail_comment_right  img-rounded"
                                 v-if="comment.commentId%2!=0">
                                <div class="text-right" style="padding: 5px 5px 5px 5px;"><span >{{toformatDate(invitationDetail.gmtCreated)}}</span></div>
                                <div class="media-body">
                                    <h4 class="media-heading text-right"><em><strong><span >{{comment.userDTO.nickName}}</span></strong></em></h4>
                                    <p class="text-right"><span >{{comment.commentContent}}</span></p>
                                </div>
                                <div class="media-right ">
                                    <a href="#">
                                        <img class="media-object thumbnail avatar_image-sm  my_Bgcolor"
                                             :src="comment.userDTO.avatarImage"
                                             alt="头像">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- 发送评论栏 -->
                        <div class="invitationDetail_commentor ">
                            <div class="media-left padding_bottom">
                                <a href="#">
                                    <img v-if="user==null"
                                         class="media-object img-thumbnail avatar_image-sm"
                                         src="https://file.moetu.org/images/2019/09/23/49fa536255fd49b50a3978d1620a50dd00139ced90265d42628488939e82dfc3.png"
                                         alt="头像">
                                </a>
                                <a href="#">
                                    <img v-if="user!=null"
                                         class="media-object img-thumbnail avatar_image-sm"
                                         :src="user.avatarImage"
                                         alt="头像">
                                </a>
                            </div>
                            <form method="post" action="/sendComment">
                                <input id="sendComment_InvitaionId" type="hidden" readonly="readonly" unselectable="on"
                                       name="invitationId"
                                       :value="invitationDetail.invitationId">
                                <textarea id="sendComment_Content" class="form-control " name="commentContent" rows="3"
                                          placeholder="在此写下你的评论..." v-model="commentContent"></textarea>
                                <br/>
                                <button id="sendCommentBtn" @click="sendComment" type="button"
                                        class="btn btn-success btn-sm float_right">发送评论
                                </button>
                            </form>
                        </div>
                    </div>

                </div>

                <!--栅格右-->
                <!--                <div replace="row_right"></div>-->

            </div>
        </div>
    </div>
</div>
</body>

<!-- Vue jS           -->
<script>
    //vue
    const vue_invitationDetail_paper = new Vue({
            el: "#vue_invitationDetail_paper",
            data: {
                //不能用数字，js精度不够
                invitationId: '',
                //帖子对象
                invitationDetail: {},
                //评论数组
                comments:[],
                user: {},
                //未发送的评论内容
                commentContent: '',
            },
            //vue钩子函数，在vue挂载完成后执行
            mounted: function getUnSendCommentCookieValue() {
                //得到未发送的评论
                this.commentContent = sessionStorage.getItem("shUnSendComment");

            },
            created: function () {
                //获取帖子id
                this.getInvitationIdFromUrl();
                console.log("拿到的帖子id为：" + this.invitationId);
                //调用api，初始化数据
                this.refreshData();
            },
            methods: {
                //读取url，拿到要获得的帖子id
                getInvitationIdFromUrl: function () {
                    // /shPub/invitationDetail/11760373892580232222
                    let path = window.location.pathname;
                    //用正则表达式比较好
                    let array = path.match("/([0-9]+)");
                    console.log("正则表达匹配结果");
                    console.log(array);
                    //取得要查询的id
                    this.invitationId = array[1];
                },
                //刷新数据
                refreshData:function () {
                    axios.get('/shApi/invitationDetail/' + this.invitationId).then(res => {
                        console.log("获取到的数据：");
                        console.log(res);
                        this.invitationDetail = res.data.data.invitationDetail;
                        this.user = res.data.data.user;
                        this.comments=res.data.data.invitationDetail.comments;

                        let content = res.data.data.invitationDetail.content;
                        console.log("帖子内容" + content);
                        //把帖子内容解析为markdown
                        editormd.markdownToHTML("md_viewer", {
                            markdown: content, // Also, you can dynamic set Markdown text
                            htmlDecode: true  // Enable / disable HTML tag encode.
                            // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                        });
                    });
                },
                //日期格式化
                toformatDate:function(gmtStr){
                    return new Date(Number(gmtStr)).toLocaleString();
                },
                //通知 示例
                open2() {
                    vue_invitationDetail_paper.$message({
                        showClose: true,
                        message: '恭喜你，这是一条成功消息',
                        type: 'success'
                    });
                },
                //invitaionDetail.html里发送评论的方法
                sendComment() {
                    var invitationId = $("#sendComment_InvitaionId").val();
                    var commentContent = $("#sendComment_Content").val();
                    $.ajax({
                        url: "/sendComment",
                        type: "post",
                        cache: false,
                        data: {
                            "invitationId": invitationId,
                            "commentContent": commentContent,
                            "isAjax": true
                        },
                        success: function (result) {
                            //200为成功发送评论
                            if (result.code == 200) {
                                //成功通知
                                // vue_sendComment.$options.methods.open2();
                                vue_invitationDetail_paper.$notify({
                                    title: '发送成功',
                                    message: '获得奖励：10点S币，即将刷新...',
                                    showClose: true,
                                    type: 'success'
                                });
                                //更新评论
                                axios.get('/shApi/invitationDetail/' + vue_invitationDetail_paper.invitationId).then(res=>{
                                    vue_invitationDetail_paper.comments=res.data.data.invitationDetail.comments;
                                });
                                return;
                            }
                            //4001是我自定义的状态码，表示未登录
                            if (result.code == 4001) {
                                //弹出确认框，询问是否登录
                                vue_invitationDetail_paper.$confirm(result.message, '未登录提示', {
                                    confirmButtonText: '确定',
                                    cancelButtonText: '取消',
                                    type: 'info'
                                }).then(
                                    function () {
                                        //document.location.origin返回当前domain地址
                                        //window.location.pathname返回路径
                                        //window.location.href完整url
                                        //回调地址
                                        var redirect = window.location.pathname;

                                        //拿到输入框的值,是使用v-model与vue的commentContent绑定的,现在将它保存在sessionStorage中
                                        var shUnSendComment = vue_invitationDetail_paper.commentContent;
                                        //存入sessionStorage
                                        sessionStorage.setItem("shUnSendComment",shUnSendComment);

                                        //1s后调转到登录页面，带上回调地址
                                        setTimeout(function () {
                                            window.location.href = "/loginPage?shRedirect=" + redirect;
                                        }, 1000);

                                    }
                                ).catch(
                                    function () {
                                        return vue_invitationDetail_paper.$message({
                                            showClose: true,
                                            type: 'info',
                                            message: '已取消'
                                        });
                                    }
                                )
                            } else {
                                vue_invitationDetail_paper.$alert(
                                    result.code + "：" + result.message, '出错了~', {
                                        confirmButtonText: '确定'
                                    }
                                )
                            }

                        }
                    })

                }
            }
        }
    );

</script>
</html>