<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>帖子详情页</title>
    <link rel="stylesheet" href="/css/myCss.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">
    <!--    <link rel="stylesheet" href="/css/element.css">-->
    <link rel="stylesheet" href="/editormd/css/editormd.min.css"/>

    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/js/myJs/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/myJs/vue.js"></script>
    <!--    <script src="/js/myJs/axios.js"></script>-->
    <!--Vue要在element的前面    -->
    <script src="/js/myJs/element.js"></script>
    <!--    <script src="/js/myJs/sh.js"></script>-->
    <script src="/editormd/editormd.js"></script>
    <script src="/editormd/lib/marked.min.js"></script>
    <script src="/editormd/lib/prettify.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>
<body class="shbody">
<div class="mywraper">
    <!--暂无-->
    <!--导航条-->
    <div th:replace="nav"></div>
    <!--内容-->
    <div class="mybody ">
        <!--用来返回顶部的按钮-->
        <el-backtop :bottom="20" target=" .mywraper" id="vue_BackTopBtn">
            <el-tooltip class="item" effect="light" content="返回顶部" placement="top">
                <div class="img-rounded"
                     style="{
                        height: 80%;
                        width: 80%;
                        background-color: rgb(252, 252, 252);
                        box-shadow: 0 0 6px rgba(0,0,0, .12);
                        text-align: center;
                        line-height: 30px;
                        color: #1989fa;
                    }"
                >
                    <span class="el-icon-arrow-up "></span>

                </div>
            </el-tooltip>
        </el-backtop>
        <!--再发送评论的vue之前实例化        -->
        <script>
            const vue_BackTopBtn = new Vue({
                el: '#vue_BackTopBtn'
            });
        </script>


        <div class="container-fluid contentbody">
            <div class="row">
                <!--栅格左-->
                <div class="col-xs-12  col-sm-8  row_left ">
                    <!--面包屑导航-->
                    <div class="row">
                        <div class="col-md-12">
                            <div th:replace="el_breadcrumb"></div>
                        </div>
                    </div>

                    <!-- 帖子面版 vue托管-->
                    <div class="invitation_paper" id="vue_invitationDetail_paper">
                        <!--用页头做为标题-->
                        <div class="page-header well well-sm ">
                            <h1 class="invitationDetail_title"><span class=" glyphicon glyphicon-bookmark "></span>
                                <small>{{invitationDetail.title}}</small>
                            </h1>

                        </div>
                        <!--头像-->
                        <div class="thumbnail avatar_image-df float_right my_Bgcolor invitationDetail_avatar_margin">
                            <img class=" img-circle" :src="invitationDetail.avatarImage" alt="image">
                        </div>
                        <blockquote class="float_right blockquote-reverse user_quote img-rounded">
                            <p>{{invitationDetail.description}}</p>
                            <footer>SH社区@ <cite title="Source Title"><span>{{invitationDetail.nickName}}</span></cite>
                            </footer>
                        </blockquote>
                        <!--内容-->
                        <div class="invitationDetail_content well">
                            <span class="glyphicon glyphicon-tag"></span>
                            <!--                                                <p class="lead">&nbsp;&nbsp;<span text="${invitationDetail.content}"></span></p>-->
                            <!--md查看器                        -->
                            <div id="md_viewer" class="sh_MdViewer">
                                <textarea style="display:none;"></textarea>
                            </div>
                        </div>

                        <!-- 历史回复-->
                        <!--遍历                    -->
                        <div class="" v-for="(comment,index) in comments" :key="index">
                            <!-- 左媒体  没有引用其他评论 -->
                            <div :id="comment.commentId" class="media invitationDetail_comment  img-rounded"
                                 v-if="comment.citedComment==null">
                                <div class="" style="padding: 5px 5px 5px 5px;">
                                    <span><span class="el-icon-guide"></span>{{index+1}}<sup
                                            style="font-style: italic;">L</sup></span>
                                    <span style="color: #796161;padding: 25px;">{{toformatDate(comment.createdTime)}}</span>
                                    <span class="el-icon-paperclip float_right">{{comment.commentId}}<sup
                                            style="font-style: italic;">C</sup></span>
                                </div>
                                <div class="media-left ">
                                    <a href="#">
                                        <img class="media-object thumbnail avatar_image-sm  my_Bgcolor"
                                             :src="comment.reviewer.avatarImage"
                                             alt="头像">
                                    </a>
                                </div>
                                <div class="media-body  ">
                                    <h4 class="media-heading">
                                        <em><strong><span> {{comment.reviewer.nickName}}</span></strong></em></h4>
                                    <div class="text-left "><p class="shText_pre_wrap">{{comment.commentContent}}</p>
                                    </div>
                                </div>
                                <div class="pull-right padding_bottom">
                                    <el-button style="background: #f3dcaf;" @click="openDrawer(comment)" size="small"
                                               icon="el-icon-chat-line-round">回复
                                    </el-button>
                                </div>

                            </div>
                            <!--右媒体 引用了其他评论-->
                            <div :id="index" class="media invitationDetail_comment_right  img-rounded"
                                 v-if="comment.citedComment!=null">
                                <div class="text-right" style="padding: 5px 5px 5px 5px;">
                                    <span class="el-icon-paperclip float_left">{{comment.commentId}}<sup
                                            style="font-style: italic;">C</sup></span>
                                    Reply：
                                    <el-tooltip content="查看该评论" placement="top" effect="light">

                                        <a :href="'#'+comment.citedComment.commentId" class="sh_a"><span
                                                class="el-icon-paperclip"></span>{{comment.citedComment.commentId}}<sup
                                                style="font-style: italic;">C</sup></a>

                                    </el-tooltip>
                                    <span style="color: #dacfa1;">@</span><a
                                        :href="'#'+comment.citedComment.reviewer.userId" class="sh_a">{{comment.citedComment.reviewer.nickName}}</a>
                                    <span style="color: #796161;padding: 25px;">{{toformatDate(comment.createdTime)}}</span>
                                    <span><span class="el-icon-guide"></span>{{index+1}}<sup
                                            style="font-style: italic;">L</sup></span>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading text-right">
                                        <em><strong><span>{{comment.reviewer.nickName}}</span></strong></em></h4>
                                    <p class="">
                                    <div id="quote" class="shText_pre_wrap" style="color: #e0ddd9;">
                                        <span style="font-size: 50px;line-height: 0;">“</span>{{subCommentQuote(comment.citedComment.commentContent,160,4)}}<span
                                            class="quote_right">”</span>
                                    </div>
                                    <div id="reply" style="margin-top: 10px;">
                                        <span>{{comment.commentContent}}</span>
                                    </div>
                                    </p>
                                </div>
                                <div class="media-right ">
                                    <a href="#">
                                        <img class="media-object thumbnail avatar_image-sm  my_Bgcolor"
                                             :src="comment.reviewer.avatarImage"
                                             alt="头像">
                                    </a>
                                </div>
                                <div class="pull-right padding_bottom">
                                    <el-button style="background: rgb(84, 178, 174);border: 1px solid #3F8985;"
                                               @click="openDrawer(comment)"
                                               size="small"
                                               icon="el-icon-chat-line-round">回复
                                    </el-button>
                                </div>
                            </div>
                        </div>
                        <!-- 回复评论的抽屉 在vue托管的范围内-->
                        <el-drawer
                                :visible.sync="drawer.enable"
                                :direction="drawer.direction"
                                :before-close="drawer_handleClose"
                                size="60%"
                        >
                            <!-- 标题内容 -->
                            <span slot="title" class="el-icon-chat-line-round">：回复评论</span>
                            <div class="mywraper">


                                <el-row :gutter="2">
                                    <el-col :xs="3" :sm="1" :md="2" :lg="1" :xl="1">
                                        <span>&nbsp;</span>
                                    </el-col>
                                    <!-- el卡片1 被回复的评论-->
                                    <el-col :xs="24" :sm="11" :md="10" :lg="11" :xl="11" class="hidden-xs">

                                        <el-card shadow="never">
                                            <el-row type="flex">
                                                <p style="color: #84868c;font-size: 16px;">被回复的评论：</p>
                                            </el-row>

                                            <el-row type="flex" justify="center" :gutter="10">
                                                <el-col :xs="6" :sm="4" :md="4" :lg="4" :xl="3">
                                                    <a href="#">
                                                        <img class="media-object thumbnail avatar_image-sm  my_Bgcolor"
                                                             style="margin-bottom: 5px !important;"
                                                             :src="drawer.comment.reviewer.avatarImage"
                                                             alt="头像">
                                                        <em><strong><span
                                                                style="color: black;">{{drawer.comment.reviewer.nickName}}</span></strong></em>
                                                    </a>

                                                </el-col>
                                                <el-col :xs="18" :sm="20" :md="20" :lg="20" :xl="21"
                                                        style="align-content: center">
                                                    <span style="color: #796161;">{{toformatDate(drawer.comment.createdTime)}}</span>
                                                    <blockquote>
                                                        <p>
                                                            {{subCommentQuote(drawer.comment.commentContent,224,null)}}</p>
                                                    </blockquote>
                                                </el-col>
                                            </el-row>

                                        </el-card>
                                    </el-col>
                                    <!-- el卡片2 写入回复-->
                                    <el-col :xs="24" :sm="11" :md="10" :lg="11" :xl="11">
                                        <el-card shadow="hover">
                                            <el-row type="flex">
                                                <p style="color: #84868c;font-size: 16px;">你的回复：</p>
                                            </el-row>

                                            <el-row type="flex" justify="center" :gutter="10">
                                                <el-col :xs="6" :sm="4" :md="4" :lg="4" :xl="3">
                                                    <!-- 未登录时 头像默认-->
                                                    <a href="#" v-if="user==null">
                                                        <img class="media-object thumbnail avatar_image-sm  my_Bgcolor"
                                                             style="margin-bottom: 5px !important;"
                                                             src="https://file.moetu.org/images/2019/09/23/49fa536255fd49b50a3978d1620a50dd00139ced90265d42628488939e82dfc3.png"
                                                             alt="头像">
                                                        <em><strong><span
                                                                style="color: black;">看板娘</span></strong></em>
                                                    </a>
                                                    <!-- 登录后 用户头像和名字-->
                                                    <a href="#" v-if="user!=null">
                                                        <img class="media-object thumbnail avatar_image-sm  my_Bgcolor"
                                                             style="margin-bottom: 5px !important;"
                                                             :src="user.avatarImage"
                                                             alt="头像">
                                                        <em><strong><span
                                                                style="color: black;">{{user.nickName}}</span></strong></em>
                                                    </a>

                                                </el-col>
                                                <el-col :xs="18" :sm="20" :md="20" :lg="20" :xl="21">
                                                    <span style="color: #796161;">{{systemDate()}}</span>
                                                    <blockquote>
                                                        <el-input
                                                                type="textarea"
                                                                show-word-limit
                                                                maxlength="512"
                                                                rows=6
                                                                placeholder="请输入内容"
                                                                v-model="drawer.commentContent">
                                                        </el-input>
                                                    </blockquote>
                                                    <el-button @click="sendDrawerComment" icon="el-icon-s-promotion"
                                                               type="success" class="float_right margin_top_15px"
                                                               circle></el-button>
                                                    <el-button @click="clearDrawerInput" icon="el-icon-refresh-left"
                                                               type="danger" class="float_left margin_top_15px"
                                                               circle></el-button>
                                                </el-col>
                                            </el-row>

                                        </el-card>
                                    </el-col>
                                    <el-col :xs="3" :sm="1" :md="2" :lg="1" :xl="1">
                                        <span>&nbsp;</span>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-drawer>


                        <!-- 发送评论栏 -->
                        <div class="invitationDetail_commentor ">
                            <div class="media-left padding_bottom">
                                <a href="#">
                                    <img v-if="user==null"
                                         class="media-object img-thumbnail avatar_image-sm"
                                         src="https://file.moetu.org/images/2019/09/23/49fa536255fd49b50a3978d1620a50dd00139ced90265d42628488939e82dfc3.png"
                                         alt="头像">
                                </a>
                                <a href="#">
                                    <img v-if="user!=null"
                                         class="media-object img-thumbnail avatar_image-sm"
                                         :src="user.avatarImage"
                                         alt="头像">
                                </a>
                            </div>
                            <form method="post">
                                <input id="sendComment_InvitaionId" type="hidden" readonly="readonly" unselectable="on"
                                       name="invitationId"
                                       :value="invitationDetail.invitationId">
                                <el-input
                                        type="textarea"
                                        show-word-limit
                                        maxlength="512"
                                        rows=6
                                        placeholder="在此写下你的评论..."
                                        v-model="commentContent"
                                        id="sendComment_Content"
                                        name="commentContent">
                                </el-input>


                                <button id="sendCommentBtn" @click="sendComment" type="button"
                                        class="btn btn-success btn-sm float_right margin_top_15px">发送评论
                                </button>
                                <el-button @click="clearCommentInput" icon="el-icon-refresh-left" type="danger"
                                           class="float_left margin_top_15px" circle></el-button>
                            </form>
                        </div>
                    </div>

                </div>
                <!--栅格右-->
                <div class="col-xs-12  col-sm-4   hidden-xs hidden-sm" style="margin-top: 25px;">
                    <div th:replace="el_tabs"></div>
                </div>

            </div>



        </div>
    </div>
</div>
</div>
</body>

<!-- Vue jS           -->
<script>
    //vue
    const vue_invitationDetail_paper = new Vue({
            el: "#vue_invitationDetail_paper",
            data: {
                //不能用数字，js精度不够
                invitationId: '',
                //帖子对象
                invitationDetail: {},
                //评论数组
                comments: [],
                //当前登录的用户
                user: {},
                //未发送的评论内容
                commentContent: '',
                //回复抽屉相关
                drawer: {
                    enable: false,
                    direction: 'btt',
                    //被回复的评论对象
                    comment: {
                        commentId: '被回复者评论的id',
                        commentContent: '被回复的评论内容',
                        createdTime: '被回复者评论创建时间',
                        //被回复的评论者
                        reviewer: {
                            userId: '被回复者的id',
                            avatarImage: '被回复者的用户头像',
                            nickName: '被回复者的用户昵称',
                        },
                    },
                    //要发送的回复内容
                    commentContent: ''
                }

            },
            //vue钩子函数，在vue挂载完成后执行
            mounted: function getUnSendContentValue() {
                //得到未发送的评论
                let commentContent = sessionStorage.getItem("shUnSendComment");
                if (commentContent == null) {
                    this.commentContent = ''
                } else {
                    this.commentContent = commentContent;
                }
                //得到未发送的回复
                let drawerCommentContent = sessionStorage.getItem("shUnSendReply");
                if (drawerCommentContent == null) {
                    this.drawer.commentContent = ''
                } else {
                    this.drawer.commentContent = drawerCommentContent;
                }
            },
            created: function () {
                //获取帖子id
                this.getInvitationIdFromUrl();
                console.log("拿到的帖子id为：" + this.invitationId);
                //调用api，初始化数据
                this.refreshData();

            },
            methods: {
                //读取url，拿到要获得的帖子id
                getInvitationIdFromUrl: function () {
                    // /shPub/invitationDetail/11760373892580232222
                    let path = window.location.pathname;
                    //用正则表达式比较好
                    let array = path.match("/([0-9]+)");
                    console.log("正则表达匹配结果");
                    console.log(array);
                    //取得要查询的id
                    this.invitationId = array[1];
                },
                //刷新数据
                refreshData: function () {
                    axios.get('/shApi/invitationDetail/' + this.invitationId).then(res => {
                        console.log("获取到的数据：");
                        console.log(res);
                        this.invitationDetail = res.data.data.invitationDetail;
                        this.user = res.data.data.user;
                        this.comments = res.data.data.invitationDetail.comments;

                        let content = res.data.data.invitationDetail.content;
                        console.log("帖子内容" + content);
                        //把帖子内容解析为markdown
                        editormd.markdownToHTML("md_viewer", {
                            markdown: content, // Also, you can dynamic set Markdown text
                            htmlDecode: true  // Enable / disable HTML tag encode.
                            // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                        });
                    });
                },
                //日期格式化
                toformatDate: function (gmtStr) {
                    return new Date(Number(gmtStr)).toLocaleString();
                },
                //返回当前系统的时间
                systemDate: function () {
                    return new Date().toLocaleString()
                },
                //关闭抽屉时的回调
                drawer_handleClose(done) {
                    done();
                    console.log("关闭抽屉前做的事情")
                },
                //打开抽屉
                openDrawer(comment) {
                    console.log("打开抽屉");
                    this.drawer.enable = true;
                    this.getCitedData(comment);
                },
                //关闭抽屉
                closeDrawer() {
                    this.drawer.enable = false;
                    console.log("关闭了抽屉")
                },
                //初始化抽屉的数据
                getCitedData(comment) {
                    this.drawer.comment = comment;
                },
                //保存未发送的评论和回复
                saveUnsendContent: function () {
                    sessionStorage.setItem("shUnSendComment", this.commentContent);
                    sessionStorage.setItem("shUnSendReply", this.drawer.commentContent);
                },
                //清空sessionStorage中的评论
                clearUnsendComment: function () {
                    sessionStorage.removeItem("shUnSendComment");
                },
                //清空sessionStorage中的回复
                clearUnsendReply: function () {
                    sessionStorage.removeItem("shUnSendReply");
                },
                //清空抽屉的输入框
                clearDrawerInput: function () {
                    console.log("清空抽屉的输入框");
                    this.drawer.commentContent = '';
                },
                //清空评论的输入框
                clearCommentInput: function () {
                    console.log("清空评论的输入框");
                    this.commentContent = '';
                },
                //登录状态检查
                loginCheck: function () {
                    axios.get('/shApi/loginCheck').then(res => {
                        var shCode = res.data.code;
                        var message = res.data.message;
                        if (shCode == 200) {

                            return true;
                        } else if (shCode == 4001) {
                            this.$confirm(message, '未登录提示', {
                                confirmButtonText: '确定',
                                cancelButtonText: '取消',
                                type: 'info'
                            }).then(() => {
                                //保存未发送的数据
                                this.saveUnsendContent();
                                //回调地址
                                var redirect = window.location.pathname;
                                //1s后调转到登录页面，带上回调地址
                                setTimeout(function () {
                                    window.location.href = "/loginPage?shRedirect=" + redirect;
                                }, 1000);

                            }).catch(() => {
                                this.$message({
                                    type: 'info',
                                    message: '已取消登录'
                                });
                                return false;
                            });
                        }
                    })
                },
                //发送评论和回复的反馈和提示
                resultNotify: function (code, message) {
                    //200为成功发送评论
                    if (code == 200) {
                        //成功通知
                        // vue_sendComment.$options.methods.open2();
                        this.$notify({
                            title: '发送成功',
                            message: '获得奖励：10点S币',
                            showClose: true,
                            type: 'success'
                        });
                        //更新评论
                        axios.get('/shApi/invitationDetail/' + this.invitationId).then(res => {
                            this.comments = res.data.data.invitationDetail.comments;
                        });

                        return;

                        //发送失败，字符输入有误，或者服务器问题
                    } else {
                        this.$alert(message, '提示', {
                            confirmButtonText: '确定',
                        })
                    }
                },
                //发送抽屉的回复
                sendDrawerComment: function () {
                    console.log("发送抽屉的回复前的检查");
                    //登录提示
                    this.loginCheck();
                    //登录检查
                    if (this.user == null) {
                        return;
                    }
                    //帖子id
                    let targetId = this.invitationId;
                    //回复内容
                    let commentContent = this.drawer.commentContent;
                    //被回复评论的id
                    let citedCommentId = this.drawer.comment.commentId;
                    //发送数据
                    console.log("开始发送抽屉的回复");
                    axios.post('/shApi/sendComment', {
                        targetId: targetId,
                        commentContent: commentContent,
                        citedCommentId: citedCommentId
                    }).then(res => {
                        console.log("回复的响应数据");
                        console.log(res);
                        if (res.data.code == 200) {
                            //发送成功则清空未发送的回复
                            this.clearUnsendReply();
                            //清空输入框
                            this.clearDrawerInput();
                            //关闭抽屉
                            this.closeDrawer();
                        }
                        //发送完成后的反馈
                        this.resultNotify(res.data.code, res.data.message);
                    });

                },
                //发送评论
                sendComment() {
                    console.log("发送评论");
                    //登录提示
                    this.loginCheck(this.commentContent);
                    //登录检查
                    if (this.user == null) {
                        return;
                    }
                    var targetId = this.invitationId;
                    var commentContent = this.commentContent;
                    //发送评论
                    axios.post('/shApi/sendComment', {
                        targetId: targetId,
                        commentContent: commentContent
                    }).then(res => {
                        console.log("发送后的响应内容");
                        console.log(res);
                        if (res.data.code == 200) {
                            //清空评论的输入框
                            this.clearCommentInput();
                            //发送成功则清空未发送的评论
                            this.clearUnsendComment();
                        }
                        //发送完成后的反馈
                        this.resultNotify(res.data.code, res.data.message);
                    });
                },
                //限制帖子评论中，被引用的评论的显示长度和换行数，评论内容、要限制的最大长度、最大行数
                subCommentQuote(commentContent, maxLength, maxN) {
                    if (commentContent == null) {
                        console.log("被引用的评论为空");
                        return;
                    }
                    //字符串长度限制
                    if (maxLength != null) {
                        if (commentContent.length > Number(maxLength)) {
                            //截取字符串长度
                            commentContent = commentContent.substring(0, Number(maxLength)) + '...';
                        }
                    }
                    //换行限制
                    if (maxN != null) {
                        let array = commentContent.split("\n");
                        if (array.length > Number(maxN)) {
                            //截取字符串换行
                            array.length = Number(maxN) + 1;
                            array[Number(maxN)] = '...';
                            //遍历数组，把\n再放回去
                            let tempStr='';
                            for (let index in array) {
                                if (Number(index) < Number(maxN)-1) {
                                    array[index] = array[index] + "\n"
                                }
                                tempStr=tempStr+array[index];
                            }
                            commentContent = tempStr;
                        }
                    }
                    return commentContent;
                }
            }
        }
    );

</script>
</html>