<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--若有属性冲突，加 !important -->
    <link rel="stylesheet" href="/css/myCss.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">


    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="/js/myJs/jquery.js"></script>
    <!--    <script src="/js/jquery-3.4.1.min.js"></script>-->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/myJs/vue.js"></script>
    <script src="/js/myJs/element.js"></script>
    <script src="/js/myJs/sh.js"></script>
    <!--<script src="/js/bootstrap.min.js" type="application/javascript"></script>-->
</head>
<body class="shbody">

<div class="myLoginForm img-rounded " id="vue_login" element-loading-text="努力与服务器交互中" v-loading="dLoading"
     element-loading-background="rgba(255, 255, 255, 0.7)">

    <form action="#">
        <div class="form-group">
            <label for="exampleInputEmail1">邮箱</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">密码</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <!--sh账户登录        -->
        <button type="submit" class="btn btn-primary float_left" @click="opendLoading">登录</button>
    </form>
    <el-link href="/signUpPage" type="primary" class="float_right" plain>注册</el-link>
    <h2><span class=" glyphicon glyphicon-chevron-down "> </span></h2>

    <!--使用github登录/github/loginWithGithub        -->
    <a href="/github/loginWithGithub">
        <button id="loginWithGithubBtn" type="button" @click="opendLoading"
                class="btn btn-info float_left"
                aria-label="Left Align">
            Gtihub <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
    </a>
    <!--返回首页        -->
    <a href="/">
        <button type="button" class="btn btn-success float_right" aria-label="Left Align">
            <span class="glyphicon glyphicon-home" aria-hidden="true">返回首页</span>
        </button>
    </a>

</div>


<!--Vue JS loading效果-->

<script>
    const vue_login = new Vue({
        el: "#vue_login",
        data: {
            //控制页面的loading效果的值，与v-loading.fullscreen.lock="fullscreenLoading"配合
            dLoading: false
        },
        methods: {
            opendLoading() {
                //改变fullscreenLoading的值
                this.dLoading = true;
                //设置转10000ms时间
                setTimeout(() => {
                    this.dLoading = false;
                }, 20000);
                //如果20秒还没登录成功，通知异常，通知比loading晚1秒
                setTimeout(function () {
                    vue_login.$message({
                        showClose: true,
                        message: '交互时间较长，请检查网络，与github的网络连接是否通畅',
                        type: 'info'
                    });
                }, 21000);

            }
        }
    })
</script>

</body>
</html>