<!--注册表单-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/myCss.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<!--<link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">-->
<link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css">
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/js/myJs/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/myJs/vue.js"></script>
<script src="/js/myJs/element.js"></script>
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script  src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>

<div th:fragment="loginForm" id="vue_loginForm" element-loading-text="努力与服务器交互中"
     v-loading="dLoading"
     element-loading-background="rgba(255, 255, 255, 0.7)">

    <el-card class="box-card">
        <div slot="header" class="clearfix">
            <span class="el-icon-coffee-cup"></span>
            <span style="color: #727780">登录<a href="/">社区</a></span>
            <el-link href="/signup" style="float: right;" icon="el-icon-user-solid" type="primary">注册</el-link>
        </div>
        <div class="text item">
            <el-form :model="loginForm" status-icon :rules="rules" ref="loginForm" label-width="80px"
                     class="demo-ruleForm" label-position="top" hide-required-asterisk>
                <el-form-item prop="userName">
                    <span slot="label"><span class="el-icon-user"></span> 账户名</span>
                    <el-input type="text" v-model="loginForm.userName" autocomplete="on"
                              placeholder="账户名" minlength="2"></el-input>
                </el-form-item>
                <el-form-item prop="passWord">
                    <span slot="label"><span class="el-icon-postcard"></span> 密码</span>
                    <el-input type="password" v-model="loginForm.passWord" autocomplete="on"
                              placeholder="登录密码"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-tooltip content="清空全部输入" placement="top" effect="light">
                        <el-button @click="resetForm('loginForm')" type="danger" icon="el-icon-refresh-left"
                                   plain circle></el-button>
                    </el-tooltip>

                    <el-tooltip content="登录" placement="top" effect="light" class="float_right">
                        <el-button type="success" @click="submitForm('loginForm')" icon="el-icon-user-solid"
                                   circle></el-button>
                    </el-tooltip>
                </el-form-item>
            </el-form>
            <el-divider>
                <el-tooltip content="使用第三方登录" placement="top" effect="light">
                    <el-button type="text" size="small" round @click="showOtherLogin = !showOtherLogin"><span
                                class="el-icon-mouse" style="font-size: 20px;"></span></el-button>
                </el-tooltip>
            </el-divider>
            <el-collapse-transition>
                <div v-show="showOtherLogin">
                    <el-row>
                        <el-col :span="0.5">
                            <span>&nbsp;</span>
                        </el-col>
                        <el-col :span="23.5">
                            <el-tooltip content="使用Github登录" placement="top" effect="light">
                                <!--使用github登录/github/loginWithGithub        -->
                                <a href="/github/loginWithGithub" @click="opendLoading(20000)">
                                    <el-avatar size="small" src="/image/github.png"></el-avatar>
                                </a>
                            </el-tooltip>
                        </el-col>
                    </el-row>
                </div>
            </el-collapse-transition>
        </div>
    </el-card>

</div>

<script>
    const vue_login = new Vue({
        el: "#vue_loginForm",
        data() {
            var checkUserName = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入账户名'));
                } else {
                    //调用用户信息校验接口 校验用户名 校验代码为1
                    //设置延时，用来展示loading的效果 是不是有种仪式感
                    setTimeout(() => {
                        let params = new URLSearchParams();
                        params.append('userName',this.loginForm.userName);
                        params.append('typeCode','1');
                        axios.post("/shApi/checkUserInfo",params).then(res => {
                            if (Number(res.data.code) === 200) {
                                callback(new Error("该用户不存在"));
                            } else {
                                callback();
                            }
                        })
                    }, 600);
                }
            };
            var checkPassWord = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    callback();
                }
            };

            return {
                //控制页面的loading效果的值，与v-loading.fullscreen.lock="fullscreenLoading"配合
                dLoading: false,
                //登录表单
                loginForm: {
                    userName: '',
                    passWord: ''
                },
                //校验规则
                rules: {
                    //blur 在 Input 失去焦点时触发
                    userName: [
                        {validator: checkUserName, trigger: 'blur'}
                    ],
                    passWord: [
                        {validator: checkPassWord, trigger: 'blur'}
                    ],
                },
                //显示其他登录方式
                showOtherLogin: true
            };
        },
        methods: {
            opendLoading(timeout) {
                //改变fullscreenLoading的值
                this.dLoading = true;
                //设置转10000ms时间
                setTimeout(() => {
                    this.dLoading = false;
                }, timeout);
                //如果20秒还没登录成功，通知异常，通知比loading晚1秒
                setTimeout(function () {
                    this.$message({
                        showClose: true,
                        message: '交互时间较长，请检查网络，与github的网络连接是否通畅',
                        type: 'info'
                    });
                }, 21000);

            },
            //提交表单
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        //loading效果
                        this.dLoading = true;
                        axios.post('/shApi/login', this.loginForm).then(res => {
                            if (Number(res.data.code) === 200) {
                                this.$notify({
                                    title: '成功',
                                    message: res.data.message + "，即将跳转...",
                                    type: 'success'
                                });
                                //把后台颁发的token放入cookie 改为由服务器设置
                                // Cookies.set('shJwt',res.data.data.jwt);
                                setTimeout(() => {
                                    //从cookie中取回调地址
                                    let shRedirectCookie = Cookies.get('shRedirectCookie');
                                    window.location.href = shRedirectCookie;
                                }, 600)
                            } else {
                                this.$message(res.data.message + "，请检查用户名或密码");
                                //清空密码
                                this.loginForm.passWord = "";
                                //取消loading
                                this.dLoading = false;
                            }
                        });
                        return true;
                    } else {
                        this.$message('输入值无效，请检查和改正输入');
                        return false;
                    }
                });
            },
            //清空表单数据
            resetForm(formName) {
                console.log(formName);
                this.$refs[formName].resetFields();
            }
        }
    })
</script>
<style>
    /*登录界面label和输入框的间隔 选择divclass为el-form-item的所有子元素的label标签*/
    div.el-form-item:nth-child(n) > label {
        padding-bottom: 0;
        margin-bottom: 0;
    }


</style>
</html>