<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar  " th:fragment="nav">
    <div class="container-fluid ">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--            左上角logo首页-->
            <a class="navbar-brand" href="/">Shirtiny</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!--        左下拉框-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="https://shirtiny.cn">站长的博客</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">社区 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/loginPage">注册</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <!-- 文件上传-->

            <!--el搜索框                    -->
            <form class="navbar-form navbar-right  margin_around_5px" role="search">
                <div class="form-group ">
                    <el-input id="vue_Nav_Search" class="nav_el_search "
                              placeholder="搜索..."
                              v-model="inputSearchContent">
                        <el-link @click="search" slot="suffix" class="el-input__icon Nav_Search_input_icon"
                                 icon="el-icon-search"></el-link>
                    </el-input>
                </div>
            </form>
            <!--            右下拉框-->
            <ul class="nav navbar-nav navbar-right ">
                <!--                if判断 标签内有效-->
                <li><a href="/loginPage" th:if="${session.user==null}">登录</a></li>
                <!--                用户头像-->
                <li th:if="${session.user!=null}"><a class="navbar-brand" href="#">
                    <img alt="avatar" class="nav_avatar img-thumbnail img-circle"
                         th:src="@{${session.user.avatarImage}}">
                </a></li>
                <!--                消息-->
                <li th:if="${session.user!=null}"><a><abbr title="您收到的消息"><span
                        class="glyphicon glyphicon-envelope"></span><span class="badge nav_message">4</span></abbr></a>
                </li>
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span th:text="${session.user.nickName}"></span> <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
<!--搜索框-->
<script>
    const vue_Nav_Search = new Vue({
        el: "#vue_Nav_Search",
        data: {
            inputSearchContent: ''
        },
        methods: {
            search: function () {
                console.log("执行搜索")
            }
        }
    })
</script>

</html>