<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>版块详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--若有属性冲突，加 !important -->
    <link rel="stylesheet" href="/css/myCss.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">


    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <!--    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>-->
    <script src="/js/myJs/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/myJs/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--    <script src="/js/myJs/element.js"></script>-->
    <!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <script src="/js/myJs/axios.js"></script>
</head>


<body class="shbody">

<!--引用导航条-->
<div th:replace="nav"></div>
<!--引用条幅、大广告位-->
<div th:replace="banner_lg"></div>
<!--首页头-->
<div th:replace="section_header"></div>

<!--面包屑导航-->
<div class="row">
    <div class="col-md-12">
        <div th:replace="el_breadcrumb"></div>
    </div>
</div>
<!--我的body-->
<div class="mybody">
    <div class="container-fluid contentbody">
        <div class="row">
            <!--栅格左-->
            <div class="col-xs-12  col-sm-8  row_left " id="vue_invitaions_body">
                <div class="col-md-12 col-sm-12 col-xs-12  padding_around_0px margin_bottom_15px">

                    <el-menu mode="horizontal" default-active="1-4-1" class="el-menu-vertical-demo margin_right_10px">
                        <el-menu-item index="/ShPri/newInvitation">
                            <el-tooltip content="发帖" placement="top" effect="light">
                                <a style="font-size: 20px;" class="el-icon-edit" @click="loginCheck"></a>
                                <span slot="title"></span>
                            </el-tooltip>
                        </el-menu-item>
                        <el-menu-item index="3" disabled>
                            <i class="el-icon-document"></i>
                            <span slot="title">导航三</span>
                        </el-menu-item>
                        <el-menu-item index="4">
                            <i class="el-icon-setting"></i>
                            <span slot="title">导航四</span>
                        </el-menu-item>
                        <el-menu-item index="5">

                            <el-tooltip :content="'按最后回复时间顺序: ' + orderStatus" placement="top">
                                <el-switch
                                        v-model="orderStatus"
                                        active-color="#13ce66"
                                        inactive-color="#5fb5d0cf"
                                        active-value='on'
                                        inactive-value='off'
                                        @change="refreshInvitations"
                                >
                                </el-switch>
                            </el-tooltip>
                        </el-menu-item>
                    </el-menu>

                </div>
                <!--列表-->

                <div class="media alert alert-warning media_left  " v-for="invitation in invitations"
                     :key="invitation.invitationId"
                     role="alert">
                    <div class="media-left ">
                        <a href="#">
                            <img class="media-object img-thumbnail avatar_image-sm"
                                 :src="invitation.avatarImage"
                                 alt=image>
                        </a>
                    </div>

                    <div class="media-body">
                        <a :href="'/shPub/invitationDetail/'+invitation.invitationId">
                            <h4 class="media-heading">
                                <span>{{invitation.title}}</span>
                                <span class="float_right">
                                <span class="el-icon-sugar "
                                      style="color: rgb(235, 60, 166);">{{invitation.candyNum}}</span>
                                <span>&nbsp;</span>
                                </span>
                            </h4>
                        </a>
                        <span>
                            <span class="label label-success">{{invitation.replyNum}} 条评论</span>  •
                            <span class="label label-info">{{invitation.views}}次查看</span>  •
                            <!--                            <span class="label label-default">{{invitation.gmtCreated | dateFrm(invitation.gmtCreated)}}</span>-->
                            <span class="label label-default">创建于 {{formatDate(invitation.gmtCreated)}}</span>

                            <span class="float_right">
                               <span style="font-size: 14px;font-style: italic;font-weight: 600;color: #3b868a;">{{invitation.nickName}}</span>
                                <span>&nbsp;</span>
                            </span>

                        </span>
                    </div>
                </div>


                <hr/>
                <!-- 分页信息-->
                <div class="myPageInfo font_color_aliceBlue">
                    共<span class="label label-warning ">{{pageInfo.total}}</span>篇帖子；
                    当前第<span class="label label-warning ">{{pageInfo.current}}</span>页;
                    <br><br>
                    <!--                    <span class="btn btn-warning"> {{pageError}}</span>-->
                </div>

                <!-- 分页按钮-->
                <nav aria-label="Page navigation" class="pagebtn">
                    <ul class="pagination pagination-lg">
                        <!-- 第一页                       -->
                        <li>
                            <el-button @click="refreshInvitationsPage(1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </el-button>
                        </li>
                        <!--让后台传递一个页码数组 弱化js-->
                        <li v-for="pageNum in pageNumArray">
                            <!-- 页码                           -->
                            <el-button @click="refreshInvitationsPage(pageNum)"
                                       :class="pageInfo.current==pageNum?'pagebtn_disabled':'active'">
                                <span>{{pageNum}}</span>
                            </el-button>
                        </li>
                        <!-- 跳转到最后一页                       -->
                        <li>
                            <el-button @click="refreshInvitationsPage(pageInfo.pages)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </el-button>
                        </li>
                    </ul>

                </nav>
            </div>
            <!--        栅格右-->
            <div th:replace="row_right"></div>
        </div>
    </div>
</div>

</body>
<script>
    Vue.filter("dateFrm", function (time, spliceStr) {
        var newDate = new Date(time);
        var y = newDate.getFullYear();
        var m = newDate.getMonth() + 1;
        var d = newDate.getDate();
        var hh = newDate.getHours();
        var mm = newDate.getMinutes();
        var ss = newDate.getSeconds();
        return `${y}-${m}-${d} ${hh}:${mm}:${ss}`;
    });
</script>
<script>
    const vue_invitaions_body = new Vue({
        el: "#vue_invitaions_body",
        data: {
            //版块id，默认1，从sessionStorage读取
            sectionId: 1,
            //无或0按默认顺序，id升序,其他值按更新时间倒序排列（Controller默认）orderBy
            orderStatus: 'on',
            //服务器返回的总结果
            shResult: {},
            //分页信息
            pageInfo: {},
            //帖子数组
            invitations: [],
            //页码数组
            pageNumArray: [],

        },
        //计算属性
        computed: {
            //排序类型
            orderBy: function () {
                return this.orderStatus == "on" ? 1 : 0;
            },
            //当前页
            curPage: function () {
                return this.pageInfo.current;
            },

        },
        created() {
            //读取sectionId
            this.readSectionId();
            //初始化数据
            this.getInvitations(1, this.orderBy, this.sectionId);
        },
        methods: {
            //获取帖子列表
            getInvitations: function (pageNum, orderBy, sectionId) {
                //0默认按创建时间顺序排序，1按更新时间排序
                //这里要用es6写，不知道为什么
                axios.get('/shApi/listInvitationsByPage?curPage=' + pageNum + '&orderBy=' + orderBy + '&sectionId=' + sectionId).then(res => {
                    console.log(res);
                    this.shResult = res.data;
                    this.pageInfo = res.data.data.pageInfo;
                    this.pageNumArray = res.data.data.pageNumArray;
                    this.invitations = res.data.data.pageInfo.records;
                    console.log(this.shResult)
                });
            },
            //刷新数据
            refreshInvitations: function () {
                this.getInvitations(this.curPage, this.orderBy, this.sectionId);
                //后端传来的页码数组
                console.log(this.pageNumArray);
            },
            //刷新数据，换页
            refreshInvitationsPage: function (pageNum) {
                this.getInvitations(pageNum, this.orderBy, this.sectionId);
                //后端传来的页码数组
                console.log(this.pageNumArray);
                //最后一页时弹出提示
                if (pageNum == this.pageInfo.pages) {
                    this.$notify({
                        title: '提示',
                        message: '已到最后一页',
                        type: 'info',
                        //延迟消失的时间
                        duration: 1500
                    });
                }
            },
            //格式化日期，传入字符串
            formatDate(gmtimeString) {
                var gmtime = Number(gmtimeString);
                return new Date(gmtime).toLocaleString();
            },
            //读取sessionStorage中的sectionId（当前版块的id）
            readSectionId() {
                var id = JSON.parse(sessionStorage.getItem('sectionId'));
                console.log('读取sessionStorage中的版块id：' + id);
                if (id != null) {
                    //赋值
                    this.sectionId = id;
                }
            },
            //保存回调地址，暂时没用到
            saveRedirectURL(url) {
                sessionStorage.setItem("shRedirect", JSON.stringify(url));
                console.log('存入sessionStorage：' + url);
            },
            //登录状态检查
            loginCheck: function () {
                axios.get('/shApi/loginCheck').then(res => {
                    var shCode = res.data.code;
                    var message = res.data.message;
                    if (shCode == 200) {
                        window.location.href = "/ShPri/newInvitation"
                    } else if (shCode == 4001) {
                        this.$confirm(message, '未登录提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'info'
                        }).then(() => {
                            //回调地址
                            var redirect = window.location.pathname;
                            //1s后调转到登录页面，带上回调地址
                            setTimeout(function () {
                                window.location.href = "/loginPage?shRedirect=" + redirect;
                            }, 1000);

                        }).catch(() => {
                            this.$message({
                                type: 'info',
                                message: '已取消登录'
                            });
                        });
                    }
                })
            }
        }

    });
</script>

<!--<div th:replace="footer"></div>-->
</html>