<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/myCss.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<!--<link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">-->
<link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css">
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/js/myJs/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/myJs/vue.js"></script>
<script src="/js/myJs/element.js"></script>
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script  src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
<!--<script src="/webjars/sockjs-client/sockjs.min.js"></script> 手动版本改为1.0.0-->
<script src="/js/myJs/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<div id="vue_user_chat" th:fragment="user_chat" style="height: 630px;" class="img-rounded">
    <!-- 外层tab -->
    <el-tabs class="img-rounded shELOutTab" tab-position="left" @tab-click="outTabClick" v-model="outTabsDefActive"
             type="border-card"
             style="height: 100%;padding: 10px 10px 10px 10px;">
        <el-tab-pane disabled>
            <span slot="label" style="font-style: italic;font-weight: 700;"><i
                        class="el-icon-s-promotion"></i>消息中心</span>
        </el-tab-pane>
        <el-tab-pane name="userMessage">
            <span slot="label"><i class="el-icon-chat-dot-round"></i>查收私信</span>
            <!-- 标题 background-color: #e4ffff;-->
            <el-row class="shbox_shadow1"
                    style="margin-bottom: 20px;height: 40px;padding: 10px 0;background-color: #e4ffff;" type="flex"
                    justify="space-around">
                <div><span style="color: #666">我的消息</span></div>
            </el-row>
            <!-- 内部tab background-color: #f5f7fa;-->
            <el-row class="shbox_shadow2 img-rounded" style="margin-bottom: 20px;padding: 10px 10px ;height: 100%;">
                <el-tabs id="shELInnerTab" class="shELInnerTab" v-model="innerTabsDefActive" tab-position="left" stretch
                         @tab-click="handleInnerTabClick"
                         style="height: 500px;">
                    <el-tab-pane v-for="chatHistory in innerTabs" :name="chatHistory.targetUser.userId"
                                 :key="chatHistory.targetUser.userId">
                        <!-- 自定tab标签 -->
                        <div slot="label" class="shELInnerTabDiv">
                            <!--删除按钮-->
                            <span class="el-icon-close  float_right"
                                  @click="removeTab(chatHistory.targetUser.userId)"></span>
                            <!--头像-->
                            <el-avatar class="float_left" alt="avatar" fit="cover" shape="circle"
                                       style="width: 50px;height: 50px"
                                       :src="chatHistory.targetUser.avatarImage">
                            </el-avatar>
                            <!--用户昵称-->
                            <span class="float_left"
                                  style="margin-left: 10px;">{{chatHistory.targetUser.nickName}}</span>
                            <!--红点 -->
                            <div class="" :class="chatHistory.unReadCount > 0 ? 'shDot':'shDot-noColor' "></div>
                        </div>
                        <!-- 聊天面板-->
                        <div class="img-rounded" style="background-color: #f4f5f7;">
                            <!-- 消息历史 -->
                            <el-row class="shMessageHistoryBox">
                                <div class="shMessageBox" v-for="message in chatHistory.chatMessages"
                                     :key="message.chatMessageId">
                                    <a href="#" class="shAvatar avatar_image-sm "
                                       :class="message.senderId==chatHistory.targetUser.userId ? 'float_left' : 'float_right' "
                                       :title="message.senderId==chatHistory.targetUser.userId ? chatHistory.targetUser.nickName : user.nickName"
                                       target="_blank"
                                       :style="message.senderId==chatHistory.targetUser.userId ? {'background-image' : 'url(' + chatHistory.targetUser.avatarImage + ')'} : {'background-image' : 'url(' + user.avatarImage + ')'}">
                                    </a>
                                    <div class="shMessage"
                                         :class="message.senderId==chatHistory.targetUser.userId ? 'float_left' : 'float_right'">
                                        <div id="shMessageContent" class="shMessageContent"
                                             :class="message.senderId==chatHistory.targetUser.userId ? '' : 'shMessageContentIsMe'">
                                            {{message.chatMessageContent}}
                                        </div>
                                        <!-- <canvas id="canvasMessageBorder" class="canvasMessageBg"> 当此文本显示时，表示浏览器不支持canvas——Sh社区 </canvas> -->
                                    </div>
                                </div>
                            </el-row>
                            <!-- 输入组件盒子-->
                            <div class="ShInputBox img-rounded">
                                <!-- 输入框-->
                                <el-row>
                                    <el-col :span="24">
                                        <el-input
                                                type="textarea"
                                                maxlength="250"
                                                :rows="3"
                                                autofocus="true"
                                                resize="none"
                                                show-word-limit
                                                placeholder="请输入要发送的消息..."
                                                v-model="unSendChatMessage">
                                        </el-input>
                                    </el-col>
                                </el-row>
                                <!-- 发送按钮-->
                                <el-row>
                                    <el-col :span="2">
                                        <span @click="sendImg" class="el-icon-picture-outline"
                                              style="font-size: 25px;color: #d8d8d8;line-height: 1.8;cursor: pointer;"></span>
                                    </el-col>
                                    <el-col :span="18">
                                        &nbsp;
                                    </el-col>
                                    <el-col :span="4">
                                        <el-tooltip content="发送" placement="bottom" effect="light">
                                            <el-button icon="el-icon-s-promotion" class="float_right"
                                                       @click="sendMessage"
                                                       circle></el-button>
                                        </el-tooltip>
                                    </el-col>
                                </el-row>
                            </div>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </el-row>

        </el-tab-pane>
        <el-tab-pane name="sysMessage">
            <div slot="label">
                <!--红点 :class="chatHistory.unReadCount > 0 ? 'shDot':'shDot-noColor' "-->
                <div class="shDot_out" v-if="systemHistory.unReadCount >0">
                    <span style="color: white;font-size: 10px;position: absolute;top: -12px;left: 4px;">
                        {{systemHistory.unReadCount}}
                    </span>
                </div>
                <i class="el-icon-coffee-cup"></i><span>系统消息</span>
            </div>
            <!-- 标题 background-color: #e4ffff;-->
            <el-row class="shbox_shadow1"
                    style="margin-bottom: 20px;height: 40px;padding: 10px 0;background-color: #e4ffff;" type="flex"
                    justify="space-around">
                <div><span style="color: #666">通知</span></div>
            </el-row>
            <!--历史通知-->
            <el-row class="shbox_shadow2 img-rounded shSystemHistoryBox">
                <el-collapse v-model="activeCommentIds">
                    <el-collapse-item v-for="comment in commentArr" :key="comment.commentId" :name="comment.commentId">
                        <div slot="title" style="font-size: 14px;">
                            <span style="margin-right: 8px;color: #222;font-weight: bold;">{{comment.reviewer.nickName}}</span>
                            在&nbsp;<span style="color: #999;font-size: 13px;line-height: 22px;">2019年12月6日 21:13</span>&nbsp;回复了我，点击展开<i
                                    class="el-icon-zoom-in"
                                    style="margin-right: 8px;font-size: 18px;color: #fb7299"></i>
                            或 <a target="_blank"
                                 :href="'/shPub/invitationDetail/'+comment.targetId+'#'+comment.commentId">->前往该帖</a>
                        </div>
                        <div class="float_left"
                             style="box-sizing: border-box;padding: 0 0 10px 0;min-height: 50px;overflow: hidden;">
                            <a href="#" target="_blank" class="shAvatar avatar_image-sm float_left"
                               :style="{'background-image' : 'url('+comment.reviewer.avatarImage +')'}">
                            </a>
                            <div style="color: #222;overflow: hidden;word-break: break-word;text-overflow:ellipsis;width:500px;margin: 0 20px;height: 75px;font-size: 14px;"
                                 class="float_left">
                                {{comment.commentContent.substring(0,101)}}<span
                                        v-if="comment.commentContent.length>100">...</span>
                            </div>
                        </div>
                        <div class="float_right" v-if="comment.citedComment!=null"
                             style="font-size: 14px;color: #999;width:300px;box-sizing: border-box;padding: 0 0 10px 0;height: 75px;overflow: hidden;text-overflow: ellipsis;word-break: break-word;">
                            {{comment.citedComment.commentContent.substring(0,101)}}<span
                                    v-if="comment.citedComment.commentContent.length>100">...</span>
                        </div>
                    </el-collapse-item>
                </el-collapse>
            </el-row>
        </el-tab-pane>
    </el-tabs>

</div>
<script>
    const vue_user_chat = new Vue({
        el: "#vue_user_chat",
        data: {
            //外层激活的tab的name
            outTabsDefActive: 'userMessage',
            //系统通知消息的记录
            systemHistory: {},
            //系统通知消息里的评论数组
            commentArr: [],
            //展开的手风琴
            activeCommentIds: [],
            //激活的tab的name
            innerTabsDefActive: '',
            //内层tabs 历史消息数组chatHistories 每个tab的name是targetUser.userId
            innerTabs: [],
            //待发送的消息
            unSendChatMessage: '',
            //本地简单用户 发送消息不依赖它
            user: {},
            //客户端对象
            subscribedObj: null,
            //标识收到了新的消息
            receiveNewMessage: 0,
            //标识已与服务器socket建立连接
            isConnected: false
        },
        computed: {
            //接收者Id 即为当前激活的tab的name
            recipientId: function () {
                return this.innerTabsDefActive;
            },
            //当前客户端的id 需要指定，否则会新建客户端，重复订阅
            subId: function () {
                return this.user.userId;
            },
        },
        methods: {
            //绘制聊天气泡 暂不用
            canvasStart() {
                //延时1ms执行
                setTimeout(() => {
                    //拿到信息的高度
                    let messageContent = document.getElementById("shMessageContent");
                    let height = messageContent.offsetHeight;
                    let width = messageContent.offsetWidth;
                    console.log("div的高度", height);
                    console.log("div的宽度", width);
                    let canvas = document.getElementById("canvasMessageBorder");
                    canvas.height = height;
                    canvas.width = width;
                    //拿到2d画笔
                    let canvas2d = canvas.getContext("2d");
                }, 1);
            },
            //从url获取用户id 然后返回url里的用户id
            getUidFormUrl() {
                let url = window.location.href;
                console.log(url);
                //用正则表达式比较好
                let array = url.match(`uid=([0-9]+)`);
                console.log("正则表达匹配结果", array);
                if (array != null) {
                    //取得要查询的id
                    return array[1];
                } else {
                    return null;
                }
            },
            //根据cookie里的jwt获取当前用户信息
            getUser() {
                axios.get('/shApi/getLoginedUserByCookie').then(res => {
                    if (Number(res.data.code) === 200) {
                        this.user = res.data.data.user;
                    } else {
                        this.user = null;
                    }
                })
            },
            //以jwt为认证标准,连接服务器
            connectSocket() {
                let socket = new SockJS('/websocket');
                stompClient = Stomp.over(socket);
                //关闭控制台输出
                // stompClient.debug=null;
                //连接socket
                stompClient.connect({'head': '这是head'},
                    (frame) => {
                        console.log("连接socket: /websocket");
                        console.log(frame);
                        this.isConnected = true;
                        //订阅新加入的频道 延时一会儿，等待本地user的载入
                        setTimeout(this.subscribe(), 500);
                    }, (err) => {
                        console.log("socket连接失败", err);
                        console.log("可能是用户过期，请重新登录");
                        this.isConnected = false;
                        this.$message('未登录用户,请检查登录是否过期');
                    });
            },
            //订阅消息的回调函数
            onGetMessage(message) {
                let chatMessage = JSON.parse(message.body);
                console.log("是否为系统通知", chatMessage.systems);
                //如果是系统通知
                if (chatMessage.systems) {
                    console.log("系统通知", chatMessage);
                    //存储订阅频道发过来的数据
                    let sender = chatMessage.sender;
                    //标识当前对象与历史是否有重复
                    let isExist = false;
                    //从已有的消息列表中寻找与当前uid重复的tab
                    for (let i = 0; i < this.innerTabs.length; i++) {
                        //如果在数组找到重复的id
                        if (this.innerTabs[i].targetUser.userId === sender.userId) {
                            //改变标识
                            isExist = true;
                        }
                    }
                    //如果不存在 并且发信人不是自己
                    if (!isExist && sender.userId !== this.user.userId) {
                        //构建一个临时的消息历史记录 存放targetUser
                        let chatHistory = {
                            chatHistoryId: chatMessage.chatHistoryId,
                            targetUser: sender,
                            chatMessages: []
                        };
                        //加入tab 不改变激活的tab
                        this.addTab(chatHistory, false);
                        //加入对应的消息列表
                        this.putNewMessage(chatMessage);
                    }
                } else {
                    //直接加入对应的消息列表
                    this.putNewMessage(chatMessage);
                    //查找消息对应的tab
                    let tab;
                    for (let i = 0; i < this.innerTabs.length; i++) {
                        if (this.innerTabs[i].chatHistoryId === chatMessage.chatHistoryId) {
                            tab = this.innerTabs[i];
                        }
                    }
                    //如果消息的收信人是本地用户 并且当前激活的tab是消息的所有者
                    if (chatMessage.recipientId === this.user.userId && this.innerTabsDefActive === tab.targetUser.userId) {
                        //通知服务器 我已经接收并看到了消息 让服务器把消息改成已读
                        message.ack({chatMessageId: chatMessage.chatMessageId});
                    }
                }
            },
            //以当前js登录的用户，与当前激活的tabName为准，订阅频道
            subscribe() {
                //订阅单用户系统通知频道
                let subscribedObj = stompClient.subscribe('/uid/' + this.user.userId, this.onGetMessage, {
                    id: this.subId,
                    // ack: this.user.userId
                });
                console.log("订阅系统通知", subscribedObj);
                //获取频道
                axios.get('/shApi/ReSubscribeChannel?senderId=' + this.user.userId + '&recipientId=' + this.recipientId).then(res => {
                    let subscribeChannel = "";
                    if (Number(res.data.code) === 200) {
                        subscribeChannel = res.data.data.subscribeChannel;
                        //订阅
                        this.subscribedObj = stompClient.subscribe('/user/' + subscribeChannel + '/121chat', this.onGetMessage, {
                            id: this.subId,
                        });
                    } else {
                        console.log(res.data.message);
                        return;
                    }
                });
            },
            sendMessage: function () {
                stompClient.send("/app/sendToUser", {}, JSON.stringify({
                        'chatMessageContent': this.unSendChatMessage,
                        'recipientId': this.recipientId,
                    })
                );
                //系统通知
                stompClient.send("/app/sendToOneUser", {sysHeader: true}, JSON.stringify({
                        'chatMessageContent': this.unSendChatMessage,
                        'recipientId': this.recipientId,
                    })
                );
                //清空输入框
                this.unSendChatMessage = '';
            },
            //移除tab
            removeTab(userId) {
                //移除
                console.log("移除", userId);
                for (let i = 0; i < this.innerTabs.length; i++) {
                    if (this.innerTabs[i].targetUser.userId === userId) {
                        //删除
                        this.innerTabs.splice(i, 1);
                        //改变默认激活的tab
                        if (i + 1 < this.innerTabs.length) {
                            setTimeout(() => {
                                this.innerTabsDefActive = this.innerTabs[i + 1].targetUser.userId;
                            }, 20);
                        }
                        if (i - 1 >= 0) {
                            setTimeout(() => {
                                this.innerTabsDefActive = this.innerTabs[i - 1].targetUser.userId;
                            }, 20);
                        }
                        //换背景图 依照数组的情况换背景 由watch来监控，这里不需要了
                        // this.changeBackImg();
                        break;
                    }
                }
            },
            //把新消息加入到列表
            putNewMessage(chatMessage) {
                let historyId = chatMessage.chatHistoryId;
                //把消息push到列表
                for (let i = 0; i < this.innerTabs.length; i++) {
                    //找到应该push的消息记录
                    if (this.innerTabs[i].chatHistoryId === historyId) {
                        //把新消息加入这个消息记录的消息列表里
                        this.innerTabs[i].chatMessages.push(chatMessage);
                        //标上红点
                        this.changeDot(this.innerTabs[i], true, 1);
                        break;
                    }
                }
                //改变receiveNewMessage的值 表示收到了新的消息
                this.receiveNewMessage = this.receiveNewMessage + 1;
            },
            //改变红点显示 为接收到新消息的未读tab标上红点 第二个参数为增加多少未读数
            changeDot(chatHistory, boolean, gap) {
                //boolean 为true时 显示红点 false则不显示
                if (boolean) {
                    //如果不是当前激活的tab 改变对应消息记录的未读消息数 (>0标记上红点)
                    if (chatHistory.targetUser.userId !== this.innerTabsDefActive) {
                        chatHistory.unReadCount += gap;
                    }
                } else if (!boolean) {
                    //如果是当前激活的tab 改变对应消息记录的未读消息数 (=0取消红点标记)
                    if (chatHistory.targetUser.userId === this.innerTabsDefActive) {
                        chatHistory.unReadCount = 0;
                    }
                }
            },
            //把新tab加入tabs中
            addTab(tab, isChangeTab) {
                if (tab != null) {
                    this.innerTabs.push(tab);
                    //如果要求激活该tab 或者数组中只有一个tab
                    if (isChangeTab || this.innerTabs.length === 1) {
                        //改变默认激活的tab
                        this.innerTabsDefActive = tab.targetUser.userId;
                    }
                }
            },
            //初始化内部tab 和innerTabsDefActive
            initializeInnerTabs() {
                //查询消息历史tab 初始化tabs 改变innerTabsDefActive的值 延时一会儿，等待本地user的载入
                setTimeout(() => {
                    axios.get('/shApi/allHistoryMessage?userId=' + this.user.userId).then(res => {
                        this.innerTabs = res.data.data.chatHistories;
                        console.log("初始化内部tabs");
                        //把url里的新建立连接的用户加入到tabs
                        let uid = this.getUidFormUrl();
                        //防止自己与自己对话
                        if (this.user.userId === uid) {
                            uid = null
                        }
                        console.log(uid);
                        if (uid != null) {
                            //激活对应tab
                            this.innerTabsDefActive = uid;
                        } else {
                            //如果不存在新建uid 激活历史记录第一个tab
                            this.innerTabsDefActive = this.innerTabs[0].targetUser.userId;
                        }
                        //标识当前对象与历史是否有重复
                        let isExist = false;
                        //从已有的消息列表中寻找与当前uid重复的tab
                        for (let i = 0; i < this.innerTabs.length; i++) {
                            //如果在数组找到重复的id
                            if (this.innerTabs[i].targetUser.userId === uid) {
                                //改变标识
                                isExist = true;
                                //从数组中移除该元素
                                // this.innerTabs.splice(i, 1);
                            }
                        }
                        //如果不存在
                        if (!isExist && uid != null) {
                            //根据uid获取用户信息 然后把用户加入tabs
                            let user;
                            axios.get('/shApi/getUserByUserId?userId=' + uid + '&userId2=' + this.user.userId).then(res => {
                                if (Number(res.data.code) === 200) {
                                    user = res.data.data.user;
                                } else {
                                    user = null;
                                }
                                if (user != null) {
                                    //构建一个临时的消息历史记录 存放targetUser
                                    let chatHistory = {
                                        chatHistoryId: res.data.data.chatHistoryId,
                                        targetUser: user,
                                        chatMessages: []
                                    };
                                    //加入tab 并改变激活的tab
                                    this.addTab(chatHistory, true);
                                    //订阅
                                    this.subscribe();
                                } else {
                                    console.log("找不到要私信的对象")
                                }
                            });
                        }
                    });

                }, 400);
            },
            //监控内部tabs的点击事件
            handleInnerTabClick(tab) {
                console.log("点击内部tabs，被点击的tab的name为：");
                console.log(tab._props.name);
                console.log("当前激活的tabname为:", this.innerTabsDefActive);
                //订阅频道
                this.subscribe();
            },
            //更新对应tab的消息记录的消息为已读状态
            updateHistoryRead() {
                if (this.innerTabs.length !== 0 && this.recipientId != null && Number(this.recipientId) !== 0 && this.user != null && this.isConnected) {
                    for (let i = 0; i < this.innerTabs.length; i++) {
                        if (this.innerTabs[i].targetUser.userId === this.recipientId) {
                            //如果消息记录的最后一条消息的收信人是本地用户 更新该消息记录的已读状态
                            let lastIndex = this.innerTabs[i].chatMessages.length - 1;
                            console.log(lastIndex,this.user.userId,this.innerTabs[i].chatMessages[lastIndex].recipientId,this.innerTabs[i].chatHistoryId, "准备更新为已读");
                            if (lastIndex >= 0 && this.user.userId === this.innerTabs[i].chatMessages[lastIndex].recipientId) {
                                //更新数据库
                                axios.get('/shApi/updateChatHistoryRead?chatHistoryId=' + this.innerTabs[i].chatHistoryId).then(res => {
                                    console.log(this.innerTabs[i].chatHistoryId, "更新为已读");
                                });
                                //取消红点显示
                                this.changeDot(this.innerTabs[i], false);
                            }
                        }
                    }
                }
            },
            //换背景图
            changeBackImg() {
                let innerTab = document.getElementById("shELInnerTab");
                //如果数组内没有元素
                if (this.innerTabs.length === 0) {
                    console.log("无记录");
                    //换上背景图
                    console.log('换上背景图', innerTab);
                    innerTab.style.background = "url(https://file.moetu.org/images/2019/11/27/no_message.def5cf543fe88a34517d13d8.png)" + " repeat";
                    innerTab.style.backgroundSize = "unset";
                } else {
                    innerTab.style.background = "url('')" + " no-repeat";
                }
            },
            //发送图片 未完成
            sendImg() {
                this.$message('暂不能发送图片');
            },
            //滚轮到底部
            moveScrollToBottom() {
                //移动滚条到底部 把class为shMessageHistoryBox的dom节点都做一次滚动条移动 因为切换tab会切换dom节点
                let historyBoxArray = document.getElementsByClassName("shMessageHistoryBox");
                for (let historyBox of historyBoxArray) {
                    let scrollTop = historyBox.scrollTop;
                    let scrollHeight = historyBox.scrollHeight;
                    let clientHeight = historyBox.clientHeight;
                    console.log("scrollHeight:", scrollHeight, ";scrollTop:", scrollTop, ";clientHeight:", clientHeight, ";scrollHeight - scrollTop - clientHeight:", scrollHeight - scrollTop - clientHeight);
                    //开始移动
                    historyBox.scrollTop = historyBox.scrollTop + (scrollHeight - scrollTop - clientHeight);
                }
            },
            //初始化系统通知的消息列表数据
            getSystemHistory() {
                axios.get('/shApi/allHistoryMessage?userId=' + this.user.userId + '&isSystem=true').then(res => {
                    this.systemHistory = res.data.data.chatHistories[0];
                    for (let message of this.systemHistory.chatMessages) {
                        let comment = JSON.parse(message.chatMessageContent);
                        //{"citedCommentId":826,"commentContent":"回复826","commentId":834,"createdTime":1575795846888,"reviewerId":1176036819306635266,"targetId":1176037389258023641}
                        //{"commentContent":"回复帖子","commentId":835,"createdTime":1575810619516,"reviewerId":1176036819306635277,"targetId":1176037389258023640}
                        axios.get('/shApi/retOneComment?commentId=' + comment.commentId).then(res => {
                            let commentDTO = res.data.data.comment;
                            this.activeCommentIds.push(commentDTO.commentId);
                            this.commentArr.push(commentDTO);
                        })
                    }
                    //最后把commentArr根据comment的创建时间排序
                    // console.log("初始化系统通知的消息列表数据", JSON.stringify(this.commentArr));
                })
            },
            //监控外部tab的点击事件
            outTabClick(tab) {
                //如果点击了系统通知
                if (tab.name === "sysMessage") {
                    //把本用户系统通知消息记录的未读消息更新为已读
                    axios.get('/shApi/updateChatHistoryRead?chatHistoryId=' + this.systemHistory.chatHistoryId).then(res => {
                        console.log(this.systemHistory.chatHistoryId, "系统通知更新为已读");
                        //然后把本地js对应的未读消息变量改为0
                        this.systemHistory.unReadCount = 0;
                    });
                }
            }
        },
        created() {
            //获取当前登录的用户信息
            this.getUser();
        },
        mounted() {
            //绘制canvas
            // this.canvasStart();
            //dom更新之后执行
            console.log("dom更新了 , 移动滚条到底部");
            setTimeout(() => {
                //移动滚轮到底部
                this.moveScrollToBottom();
            }, 1000);
        },
        updated() {
            //换背景图
            this.changeBackImg();
        },
        //监视
        watch: {
            user: {
                handler(newName, oldName) {
                    console.log("监控到user变化了", oldName, newName);
                    //初始化内部tab 也需要本地用户信息
                    this.initializeInnerTabs();
                    //连接socket 订阅需要本地用户信息
                    this.connectSocket();
                    //初始化系统通知的消息列表数据
                    this.getSystemHistory();
                }
            },
            recipientId: {
                handler(newName, oldName) {
                    //订阅
                    if (this.recipientId != null && this.user != null && this.isConnected) {
                        this.subscribe();
                    }
                    //更新对应消息历史记录的消息为已读状态
                    this.updateHistoryRead();
                    console.log('tab初始化完成啦 看看要不要更新对应的tab消息已读状态');
                }
            },
            receiveNewMessage: {
                handler(newName, oldName) {
                    //dom更新之后执行
                    console.log("dom更新了 , 移动滚条到底部");
                    this.$nextTick(() => {
                        //移动滚轮到底部
                        this.moveScrollToBottom();
                    });
                    console.log("receiveNewMessage改变了", oldName, newName);
                }
            },
            commentArr: {
                handler(newName, oldName){
                    //排序 简单的冒泡法
                    for (let n = 0; n + 1 < this.commentArr.length; n++) {
                        for (let i = 0; i + 1 + n < this.commentArr.length; i++) {
                            if (this.commentArr[i].createdTime < this.commentArr[i + 1].createdTime) {
                                let temp = this.commentArr[i + 1];
                                this.commentArr[i + 1] = this.commentArr[i];
                                this.commentArr[i] = temp;
                            }
                        }
                    }
                }
            }
        }
    });
</script>
<style>
    /* 改变tab自定标签的高度 3个height要一致*/
    .shELInnerTab .el-tabs__item {
        height: 60px !important;
    }

    .shELInnerTab .el-tabs__active-bar {
        height: 60px !important;
    }

    .shELInnerTab .shELInnerTabDiv {
        height: 60px !important;
        width: 150px !important;
        padding: 5px 5px 5px 5px;
    }


    .shMessageHistoryBox {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 350px;
        background-color: #f4f5f7;;
        padding: 15px 10px;
        margin: 5px 5px
    }

    /*注意下面三个div的 overflow:hidden 的作用是清除浮动 让外层div自适应内层div高度*/
    /*最小高度，=盒子里的内容高度+上下padding*/
    .shMessageBox {
        min-height: 66px;
        padding: 0 16px 16px;
        margin: 0;
        position: relative;
        line-height: 12px;
        font-size: 12px;
        overflow: hidden
    }

    .shMessage {
        margin: 0;
        overflow: hidden;
        padding: 0 10px;
        max-width: 480px;
        display: block;
    }

    .shMessageContent {
        margin: 0;
        /*padding: 8px 16px 8px 20px;*/
        line-height: 1.5;
        font-size: 14px;
        padding: 8px 16px;
        word-wrap: break-word;
        word-break: break-word;
        box-sizing: border-box;
        z-index: 1;
        border-radius: 0 16px 16px 16px;
        background: #fff;
        overflow: hidden;
    }

    .shMessageContentIsMe {
        background: #80b9f2;
        border-radius: 16px 0 16px 16px;
    }

    .canvasMessageBg {
        position: absolute;
        top: 0;
        left: 0;
        border: solid 1px;
    }

    .ShInputBox {
        padding: 5px 5px;
        margin: 5px 5px;
        background-color: #f4f5f7;
        border-top: 1px solid #d8d8d8;
    }

    textarea {
        border: 0 !important;
        background-color: transparent !important;
    }

    .el-textarea .el-input__count {
        background: #f4f5f7;
        position: absolute;
        bottom: -30px;
        right: 50px;
    }

    .shDot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #fb7299;
        text-align: center;
        position: absolute;
        top: 27px;
        left: 2px;
    }

    .shDot-noColor {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        top: 27px;
        left: 2px;
    }

    .shSystemHistoryBox {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 520px;
        padding: 0 20px;
        margin: 5px 5px;
    }

    .el-collapse-item__header {
        margin: 22px 0 0 0 !important;
    }

    .shDot_out {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fb7299 !important;
        text-align: center;
        position: absolute;
        top: 12px;
        left: 3px;
    }
</style>
</html>